<div id="comments">	
<% unless @story.comments.empty? %>
<h1>Comments</h1>
<% @story.comments.each do |comment| %>

	<div class="commenter_container">
		
		<b class="sideyard">
		  <b class="sideyard1"><b></b></b>
		  <b class="sideyard2"><b></b></b>
		  <b class="sideyard3"></b>
		  <b class="sideyard4"></b>
		  <b class="sideyard5"></b></b>

		  <div class="sideyardfg">
					<div class="commenter">
				<%= link_to h(comment.user.login), user_path(comment.user.id) %> - <%=h did_when(comment.created_at) %>
					</div>
		
		
		  </div>

		  <b class="sideyard">
		  <b class="sideyard5"></b>
		  <b class="sideyard4"></b>
		  <b class="sideyard3"></b>
		  <b class="sideyard2"><b></b></b>
		  <b class="sideyard1"><b></b></b></b>
	</div>
		
			<div class="comment_container">
			  <b class="house">
			  <b class="house1"><b></b></b>
			  <b class="house2"><b></b></b>
			  <b class="house3"></b>
			  <b class="house4"></b>
			  <b class="house5"></b></b>

			  <div class="housefg">
				<div class="comment">
						<p>
							<%= auto_link(simple_format(h(comment.comment))) %>
						</p>
				</div>
			  </div>

			  <b class="house">
			  <b class="house5"></b>
			  <b class="house4"></b>
			  <b class="house3"></b>
			  <b class="house2"><b></b></b>
			  <b class="house1"><b></b></b></b>
			</div>

			
<% end %>
<br />
<% end %>

<% if current_user %>

	<div id="comment_form">
		<h1>Leave a comment</h1>

		<% form_for(@comment) do |f| %>
  			<%= f.hidden_field :story_id, :value => params[:id] %>
  			<%= f.hidden_field :user_id, :value => current_user.id %>
  			
			<div class="comment_field_container">
				
				<b class="sideyard">
				  <b class="sideyard1"><b></b></b>
				  <b class="sideyard2"><b></b></b>
				  <b class="sideyard3"></b>
				  <b class="sideyard4"></b>
				  <b class="sideyard5"></b></b>

				  <div class="sideyardfg">
					<%= f.text_area :comment, :rows => 3, :cols => 55 %>
	    		
				  </div>

				  <b class="sideyard">
				  <b class="sideyard5"></b>
				  <b class="sideyard4"></b>
				  <b class="sideyard3"></b>
				  <b class="sideyard2"><b></b></b>
				  <b class="sideyard1"><b></b></b></b>
  			</div>
			<div id="comment_submit_container" class="center">
				<%= image_submit_tag("contribute.png", :name => "contribute", :id => "contribute-button", :disabled => false) %>
 
			</div>
	
		<% end %>
	</div>

<% else %>
	<div id="signin_or_register">
		<%= link_to "Sign in", login_path %> or <%= link_to "join", register_path %> to leave a comment.
	</div>
<% end %>


</div>

