<div id="comments">	

<% unless @story.comments.empty? %>

<h1>remarks</h1>

<% @story.comments.each do |comment| %>

	<div class="commenter_container">
		
	
					<div>
				<%= link_to h(comment.user.login), user_path(comment.user.id) %> - <%=h time_ago_in_words(comment.created_at) %> ago
					</div>
		
		
	</div>
		
			<div class="comment_container">
			
						<p>
							<%= auto_link(simple_format(sanitize(comment.comment)),
							:href_options => { :target => '_blank' }) %>
						</p>
			</div>

			
<% end %>
<br />
<% end %>

<% if current_user %>

	<div id="comment_form">
		<h1>remark</h1>

		<% form_for(@comment) do |f| %>
  			<%= f.hidden_field :story_id, :value => params[:id] %>
  			<%= f.hidden_field :user_id, :value => current_user.id %>
  			
			<div class="comment_field_container">
				
					<%= f.text_area :comment, :rows => 3, :cols => 55 %>
	    		
		  	</div>

			
			<div id="comment_submit_container" class="center">
				<%= image_submit_tag("contribute.png", :name => "contribute", :id => "contribute-button", :disabled => false) %>
 
			</div>
	
		<% end %>
	</div>

<% else %>
	<div id="signin_or_register">
		<%= link_to "Sign in", login_path %> or <%= link_to "join", register_path %> to remark.
	</div>
<% end %>


</div>

