<div id="comments">	
<% unless @share.comments.empty? %>
<h1>Comments</h1>
<table>
<% @share.comments.each do |comment| %>

			<tr>
				<td class="commenter">
			<%= link_to h(comment.user.login), user_path(comment.user.id) %> - <%=h did_when(comment.created_at) %>
				</td>
			<tr>
				<td class="comment">
					<p>	
						<%= auto_link(simple_format(h(comment.comment))) %>
					</p>
				</td>
			</tr>
<% end %>
</table>
<br />
<% end %>

<% if current_user %>

	<div id="comment_form">
		<h1>Leave a comment</h1>

		<% form_for(@comment) do |f| %>
  			<%= f.hidden_field :share_id, :value => params[:id] %>
  			<%= f.hidden_field :user_id, :value => current_user.id %>
  			<p>
    			<%= f.text_area :comment, :rows => 3, :cols => 55 %>
  			</p>
  			<p>
    			<%= f.submit 'Contribute' %>
  			</p>
	
		<% end %>
	</div>

<% else %>
	<div id="signin_or_register">
		<%= link_to "Sign in", login_path %> or <%= link_to "register", register_path %> to leave a comment.
	</div>
<% end %>


</div>

