<% content_for :pagename do %>
	<%= @title %>
<% end %>



<h1><%= @title %></h1>
<% unless @stories.empty? %>
	<%= render :partial => "stories/story", :collection => @stories %>
	<%= render :partial => "stories/pagination" %>
<% else %>
	<p>No new comments.</p>
<%end%>

<% content_for :sideyard do %>
	<h1>Comments</h1>
		<div>

				<h2>On your stories</h2>
				<nav>
				<div class="purple button_container">
					<%= link_to "New", users_comments_url("on") %>
				</div>
				<div class="purple button_container">
					<%= link_to "All", users_comments_url("allstories") %>
				</div>
				</nav>
		</div>
		<div>
			<h2>On stories you've <br />commented on</h2>
			<nav>
			<div class="green button_container">
				<%= link_to "New", users_comments_url("new") %>
			</div>
			<div class="green button_container">
				<%= link_to "All", users_comments_url("all") %>
			</div>
			</nav>
		</div>
	</nav>
<% end %>

<%= render :partial => "users/profile" %>