<% content_for :pagename do %>
	<%= @title %>
<% end %>

<h1>Comments</h1>
<div style="width:85%">
	<div class="float_left">
			<h3>On your stories</h3>
			<div class="purple button_container">
				<%= link_to "Recent", users_comments_url("on") %>
			</div>
			<div class="purple button_container">
				<%= link_to "All", users_comments_url("allstories") %>
			</div>
	</div>
	<div class="float_right">
		<h3>On stories you've commented on</h3>
		<div class="brown button_container">
			<%= link_to "Recent", users_comments_url("new") %>
		</div>
		<div class="brown button_container">
			<%= link_to "All", users_comments_url("all") %>
		</div>
	</div>
</div>

<div class="clear space"></div>
<div class="space"></div>

<h2><%= @title %></h2>
<%= render :partial => "layouts/show_stories" %>