<p>
  <%= form.label :link %><br />
  <%= form.text_field :link %>
</p>
<p>
  <%= form.label :title %><br />
  <%= form.text_field :title %>
</p>
<p>
  <%= form.label :description %><br />
  <%= form.text_area :description %>
</p>
<p>
  <%= form.label :website %><br />
  <%= form.text_field :website %>
</p>
<p>
Where did you find this link?<br />
  <%= form.text_field :source %>
</p>
<p>
  <%= form.label :alternative_contact %><br />
  <%= form.text_field :alternative_contact %>
</p>
<p>
  Visible<br />
  <%= form.check_box :active %>
</p>