<div class="add_share_form">
	<h1>Share, share, share!</h1>
<table>
	<tr>
		<td>
			<p>
		  		<%= form.label :link %>
				<%= form.error_message_on 'link' %><br />
		  		<%= form.text_field :link %>
			</p>
		</td>
		<td>
			<p>
		  		<%= form.label :title %>
				<%= form.error_message_on 'title' %><br />
		  		<%= form.text_field :title %>
			</p>
		</td>
	</tr>

	<tr>
		<td>
			<p>
				<label for="share_license">With what license is it shared?</label>
				<%= form.error_message_on 'license' %><br />
			  	<%= form.text_field :license %>
			</p>
			
			<p>
			  	<%= form.label :website %>
				<%= form.error_message_on 'website' %><br />
			  	<%= form.text_field :website %>
			</p>
			<p>
				<label for="share_source">Where did you find this link?</label>
				<%= form.error_message_on 'source' %><br />
				
			  	<%= form.text_field :source %>
			</p>
			<p>
				<label>Tags / keywords / categories / etc</label><br />
	 			<%= form.text_field :tag_list %>
  			</p>
<!-- 			<p>
			  	<%= form.label :alternative_contact %><br />
			  	<%= form.text_field :alternative_contact %>
			</p>
-->
		
		
		</td>
		
		<td>
			<p>
		  		<%= form.label :description %>
					<%= form.error_message_on 'description' %><br />
		  		<%= form.text_area :description %>
			</p>
			
			<p>
				<% unless current_user.id == @share.user_id %>
					<% if session[:recaptcha_error].present? %>
					 	<span class="formError">Incorrect text entered.</span>
					<% end %>
					
					<%= recaptcha_tags %>
				<% end %>
			</p>
			<br />
				<p>
				<%= form.submit "Save" %> <% if current_user.id == @share.user_id %>
						<%= link_to 'Destroy share', @share, :confirm => 'Are you sure you want to remove this share? Your share will no longer be visible!', :method => :delete %>
						<% end %>
				</p>
		</td>
	
	</tr>
		
</table>
</div>
