<h1>Editing share</h1>

<% form_for(@share) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
    <%= f.submit "Update" %>
<% end %>

<%= link_to 'Show', @share %>
| <%= link_to 'Return', account_url %>
<br />
<%= link_to 'Destroy', @share, :confirm => 'Are you sure?', :method => :delete %> 
