
<div id="contributed_shares">
	<h1>Listing shares | <%= link_to 'New share', new_share_path %></h1>
<table>
<tr>
    <th>&nbsp;</th>
    <th><span>Title</span></th>    
	<th><span>Description</span></th>
  </tr>

<% for share in @shares %>
  <tr>
    <td><span>[<%= link_to "Direct Link", share.link %>]</span></td>
    <td><span><%=h share.title %></span></td>
    <td><span><%=h share.description[0,40] %>... [<%= link_to 'more', share %>]</span></td>
  </tr>
<% end %>
</table>
</div>
<br />


