
<div id="contributed_shares">
	<h1>Shares | <%= link_to 'Add share', new_share_path %></h1>
<table>


<% for share in @shares %>
  <tr>
    <td><span>[<%= link_to "Direct Link", share.link %>]</span></td>
    <td><span><%=h share.title %></span></td>
    <td><span><%=h share.description[0,40] %>... [<%= link_to 'more', share %>]</span></td>
  </tr>
<% end %>
</table>
</div>
<br />


