<h1>Listing shares</h1>

<table>
  <tr>
    <th>Link</th>
    <th>Title</th>
    <th>Description</th>
    <th>Website</th>
    <th>Source</th>
    <th>Alternative contact</th>
    <th>Active</th>
  </tr>

<% for share in @shares %>
  <tr>
    <td><%=h share.link %></td>
    <td><%=h share.title %></td>
    <td><%=h share.description %></td>
    <td><%=h share.website %></td>
    <td><%=h share.source %></td>
    <td><%=h share.alternative_contact %></td>
    <td><%=h share.active %></td>
    <td><%= link_to 'Show', share %></td>
    <td><%= link_to 'Edit', edit_share_path(share) %></td>
    <td><%= link_to 'Destroy', share, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New share', new_share_path %>
