<div id="show_share">
 <h1><%=h @share.title %>&nbsp;&nbsp;&nbsp;&nbsp;
<% if current_user && current_user.id == @share.user_id %>
	<%= link_to 'Edit', edit_share_path(@share) %> |
	<%= link_to 'Destroy', @share, :confirm => 'Are you sure?', :method => :delete %>
	<% else %>
	<%= link_to 'Submitter\'s profile', profile_url(@share.user_id)%>
	<% end %>
	</h1>

<table>
	<tr>
		<td colspan=2>
			<span><h2><%= link_to (@share.link[0,65]+"..."), @share.link %></h2> 
			</span>

		</td>
	</tr>
	<tr>
		<td class="show_share_description_container">
			
			<p>Description:</p>
  			<p class="show_share_description">
				<%=h @share.description %>
			</p>
		</td>
				<td>
					<p>Website:</p>
						<p class="show_share_value"><%= link_to (@share.website[0,35]+"..."), @share.website %> 
						</p>


					  <p>Source:</p>
							<p class="show_share_value"><%=h @share.source %>
							</p>
		<!--
					  <p>Alternative Contact:</p>
							<p class="show_share_value"><%=h @share.alternative_contact %>
							</p>
		-->
				</td>

	</tr>

		
</table>
</div>






