<div id="show_share">
 <h1><%=h @share.title %> <span class="edit"><%= edit_this %></span> 

	
		
		
	</h1>
	<div>
				<table  id="show_share_toolbar">
					<tr>

								<td>
									<span class="share_this_share">
										<!-- AddThis Button BEGIN -->
									<script type="text/javascript">
										var addthis_pub="sharearchy";
									</script>
						<a href="http://www.addthis.com/bookmark.php?v=20" onmouseover="return addthis_open(this, '', '[URL]', '[TITLE]')" onmouseout="addthis_close()" onclick="return addthis_sendto()"><%= image_tag "add_this.png" %></a>
									<script type="text/javascript" src="http://s7.addthis.com/js/200/addthis_widget.js">
									</script>
										<!-- AddThis Button END -->
									</span>
									<span>
											<!-- AddThis Button BEGIN -->
										<script type="text/javascript">
											var addthis_pub="sharearchy";
										</script>
							<a href="http://www.addthis.com/bookmark.php?v=20" onmouseover="return addthis_open(this, '', '[URL]', '[TITLE]')" onmouseout="addthis_close()" onclick="return addthis_sendto()">Share</a>
										<script type="text/javascript" src="http://s7.addthis.com/js/200/addthis_widget.js">
										</script>
											<!-- AddThis Button END -->									</span>
						
								</td>
													
						<td>
							<span class = "share_this_share">
								<%= link_to(image_tag("download.png"), @share.link ) %>
							</span> 
							<span>	
								<%= link_to "Download", @share.link %>
							</span>
						</td>
					
					
				
			
						<td id="votes_<%= @share.id %>">
							<%= render :partial => "votes/share_vote", :locals => {:share => @share} %>
						</td>
			
						<td style="border:none;">&nbsp;
							<span>
							<% if current_user && current_user.id == @share.user_id %>
								<%= link_to 'Edit this Share', edit_share_path(@share) %> 
							<% else %>
								<%= link_to 'Submitter\'s profile', profile_url(@share.user_id)%>
							<% end %>
							</span>
						</td>
						
					</tr>
				</table>
		</div>
		<div class="information">
			<table>
				<tr>
					<td class="border_right">
					<span class="label">license</span>
						<span class="edit"><%= edit_this %></span>
						
						<span class="value">
							 <%=h @share.license %>
						</span>
					</td>
					<td>
						<span class="label">updated</span>
						<span class="value">
							<%=h did_when(@share.updated_at) %>
						</span>
					</td>
				<tr>
					<td class="border_right">
					<span class="label">website</span>
					<span class="edit"><%= edit_this %></span>

					<p class="value">

						<%= link_to truncate(h(@share.website),:length => 30), @share.website  %>
					</p>
					</td>

					<td>
			  		<span class="label">found via</span>
						<span class="edit"><%= edit_this %></span>
						
						<p class="value">
							<%=h @share.source %>
						</p>
					</td>
				</tr>
				<tr>
					<td colspan=2>
					<span class="label">tags</span>
						<span class="edit"><%= edit_this %></span>
						
						<span class="value">	
							<% @share.tags.each do |tag| -%>
					   			<%= link_to_tag(tag) %>
							<% end -%>
						</span>
					</td>
				</tr>
			</table>
		</div>	
	<!--
				  <p>Alternative Contact:</p>
						<p class="show_share_value"><%=h @share.alternative_contact %>
						</p>
	-->
		

		
		<div class="description">	
			<div class="content">
			<%= auto_link(simple_format(h(@share.description)), 
			:href_options => { :target => '_blank' }) %>
			</div>
		</div>
</div>
<%= render :partial => "comments/comments" %>

<%= render :partial => "comments/new" %>






