<% content_for :pagename do %>
	<%=h ":: " + @share.title %>
<% end %>


<div id="show_share">
 <h1><%=h @share.title %> <span class="edit"><%= edit_this %></span> 

	
		
		
	</h1>
		<%= render :partial => "toolbar", :locals => { :share => @share } %>
		<div class="information">
			<table>
				<tr>
					<td class="border_right">
					<span class="label">license</span>
						<span class="edit"><%= edit_this %></span>
						
						<span class="value">
							 <%=h @share.license %>
						</span>
					</td>
					<td>
						<span class="label">updated</span>
						<span class="value">
							<%=h did_when(@share.updated_at) %>
						</span>
					</td>
				<tr>
					<td class="border_right">
					<span class="label">website</span>
					<span class="edit"><%= edit_this %></span>

					<p class="value">

						<%= link_to truncate(h(@share.website),:length => 30), @share.website  %>
					</p>
					</td>

					<td>
			  		<span class="label">found via</span>
						<span class="edit"><%= edit_this %></span>
						
						<p class="value">
							<%=h @share.source %>
						</p>
					</td>
				</tr>
				<tr>
					<td colspan=2>
					<span class="label">tags</span>
						<span class="edit"><%= edit_this %></span>
						
						<span class="value">	
							<% @share.tags.each do |tag| -%>
					   			<%= link_to_tag(tag) %>
							<% end -%>
						</span>
					</td>
				</tr>
			</table>
		</div>	
	<!--
				  <p>Alternative Contact:</p>
						<p class="show_share_value"><%=h @share.alternative_contact %>
						</p>
	-->
		

		
		<div class="description">	
			<%= auto_link(simple_format(h(@share.description)), 
			:href_options => { :target => '_blank' }) %>
		</div>

	<%= render :partial => "toolbar", :locals => { :share => @share } %>
	<br />
	
</div>
<%= render :partial => "comments/comments" %>

<%= render :partial => "comments/new" %>






