	<tr class="<%= cycle('row_alternate', 'row') -%>">
	    <td><%=h hvg.hero %></td>
	    <td><%=h hvg.villain %></td>
	    <td><%=h hvg.goal %></td>
		<td><%= link_to (h(hvg.stories_count)), prompt_url(hvg) %></td>
	    <td>
		<%= link_to 'Use this Prompt',write_to_prompt_path(hvg.id)%>
		
		<% if is_admin %>

			</td>
			<td>

				<%= link_to 'Edit', edit_prompt_path(hvg) %>
		<% end %>

		</td>
	  </tr>