<div id="listPrompts">
<table>
	

  <tr>
  		<th>Hero</th>
    	<th>Villain</th>
    	<th>Goal</th>
		<th>Image</th>
		<th>Options</th>
		<% if is_admin %>
			<th>Use on:</th>
		<% end %>
		
</tr>
<% @prompts.each do |prompt| %>
 		<tr class="<%= cycle('row_alternate', 'row') -%>">
	    <td><%=h prompt.hero %></td>
	    <td><%=h prompt.villain %></td>
	    <td><%=h prompt.goal %></td>
		<td><img src="<%=h prompt.refcode%>" style="height:10%"/></td>
	    <td>
		<%= link_to 'Use this Prompt',write_to_prompt_path(prompt.id)%>

		<% if is_admin %>

			</td>
			<td>

			<%=h prompt.use_on %>	
				<%= link_to 'Edit', edit_prompt_path(prompt) %>
		<% end %>

		</td>
	  </tr>



<% end %>
</table>
</div>