<h1>Editing prompt</h1>

<% form_for(@prompt) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :hero %><br />
    <%= f.text_field :hero %>
  </p>
  <p>
    <%= f.label :villain %><br />
    <%= f.text_field :villain %>
  </p>
  <p>
    <%= f.label :goal %><br />
    <%= f.text_field :goal %>
  </p>
	<p>
		<%= f.label :use_on %><br />
		Month: <br /><%= select_month(Date.today)%><br />
		Day: <br /><%= select_day(Date.today)%><br />
		Year: <br /><%= select_year(Date.today,:start_year => 2009)%>
	</p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @prompt %> |
<%= link_to 'Back', prompts_path %>