<h1>Editing prompt</h1>

<% form_for(@prompt) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :hero %><br />
    <%= f.text_field :hero %>
  </p>
  <p>
    <%= f.label :villain %><br />
    <%= f.text_field :villain %>
  </p>
  <p>
    <%= f.label :goal %><br />
    <%= f.text_field :goal %>
  </p>
	<p>
		<%= f.label :use_on %><br />
		Month: <br /><%= select_month(Date.today)%><br />
		Day: <br /><%= select_day(Date.today)%><br />
		Year: <br /><%= select_year(Date.today,:start_year => 2009)%>
	</p>
  <p>
<%= image_submit_tag("save.png", :name => "save", :id => "save-button", :disabled => false) %>  </p>
<% end %>

<%= link_to 'Destroy', @prompt, :confirm => 'Are you sure?', :method => :delete %> || 
<%= link_to 'Back', prompts_admin_path %>