<%= render :partial => 'admin' %>

<br />
<div id="listPrompts">
<% unless @scheduled %>
	<% # select tag shows various prompts %>
	<h3>View more: 
	<%= raw(select_tag_for_filter("prompts", @filters, params)) %>
	</h3>
<% end %>
	
		<% if @scheduled %>
			<table>
				<% @prompts.each do |prompt| %>
				<tr>
					<td><%= prompt.id %></td><td><%= link_to prompt.use_on, prompt_url(prompt) %></td>
				</tr>
				<% end %>
			</table>
		<% else %>
			<% if @table == "hvg" %>

				<% unless @prompts.empty? %>
					<% is_admin ? @colspan = 6 : @colspan = 5 %>
					<table>
						<tr>
							<td colspan=<%=@colspan%>>
								<h2>Hero / Villain / Goal</h2>
							</td>
						</tr>

					  	<tr>
					  		<th>Hero</th>
					    	<th>Villain</th>
					    	<th>Goal</th>
							<th>Stories</th>
							<th>Write</th>
			
							<% if is_admin %>
								<th>Use on:</th>
							<% end %>

						</tr>
					 	
							<%= render :partial => 'hvg', :collection => @prompts %>
		
						<tr>
	
							<td colspan=<%=@colspan%>>
								<%= will_paginate @prompts  %>
							</td>
						</tr>
					</table>

	
				<% end %>

			<% elsif @table == "images" %>	

				<% unless @prompts.empty? %>
					<table>
						<tr>
							<td colspan=2>
								<h2>Images</h2>
							</td>
						</tr>
						<% i = 0 %>
						<% @prompts.each do |prompt| %>
							<% i += 1 %>
							<% if i == 1 %>
								<tr>
							<% end %>

							<%= render :partial => 'image', :locals => { :prompt => prompt }  %>

							<% if i == 2 %>
								</tr>
								<% i = 0 %>

							<% elsif @prompts.size == 1 %>
								</tr>
							<% end %>
			

						<% end %>
						<tr>
							<td colspan=2>
								<%= will_paginate @prompts  %>
							</td>
						</tr>
					</table>
				<% end %>

			<% elsif @table == "firstlines" %>
				<% unless @prompts.empty? %>
					<table>
						<tr>
							<td colspan = 3>
								<h2>First lines</h2>
							</td>
						</tr>
						<%= render :partial => 'firstline', :collection => @prompts  %>
						<tr>
							<td colspan=3>
								<%= will_paginate @prompts %>
							</td>
						</tr>
					</table>
				<% end %>
	
			<% else %>
				<% unless @prompts.empty? %>
			<table>
				<tr>
					<td colspan = 3>
						<h2>First lines</h2>
					</td>
				</tr>
				<%= render :partial => 'firstline', :collection => @prompts  %>
				<tr>
					<td colspan=3>
						<%= will_paginate @prompts %>
					</td>
				</tr>
			</table>
			<%end %>
			<% end %>
		<% end %>	
</div>