<% if is_admin %>
	<%= link_to 'New prompt', suggest_a_prompt_path %>
	| <%= link_to 'Verify prompts', unverified_prompts_path %>
	| <%= link_to 'View active prompts', prompts_path %>
	| <%= link_to "FridayFlash", edit_prompt_path('25') %>
<% end %>
<br />
<%= select_tag_for_filter("prompts", @filters, params) %>

<div id="listPrompts">
<% if @table == "hvg" %>
<% unless @prompts.empty? %>
<h2>Hero-Villain-Goal</h2>
	<table>


	  <tr>
	  		<th>Hero</th>
	    	<th>Villain</th>
	    	<th>Goal</th>
			<th>Stories</th>
			<th>Write</th>
			
			<% if is_admin %>
				<th>Use on:</th>
			<% end %>

	</tr>
	<% @prompts.each do |prompt| %>
	 	<%= render :partial => 'hvg', :locals => {:prompt => prompt} %>
		
	<% end %>
	<tr class="row">
		<% is_admin ? @colspan = 6 : @colspan = 5 %>
		<td colspan=<%=@colspan%>>
			<%= will_paginate @prompts %>
		</td>
	</tr>
	</table>

	
<% end %>

<% elsif @table == "images" %>	

	<% unless @prompts.empty? %>
	<h2>Images</h2>
		<table>
			<% i = 0 %>
			<% @prompts.each do |prompt| %>
				<% i += 1 %>
				<% if i == 1 %>
					<tr>
				<% end %>

				<%= render :partial => 'image', :locals => { :prompt => prompt }  %>

				<% if i == 2 %>
					</tr>
					<% i = 0 %>

				<% elsif @prompts.size == 1 %>
					</tr>
				<% end %>
			

			<% end %>
			<tr>
				<td colspan=2>
					<%= will_paginate @prompts %>
				</td>
			</tr>
		</table>


	<% end %>

<% elsif @table == "firstlines" %>
	<% unless @prompts.empty? %>
	<h2>First lines</h2>
		<table>
		<% @prompts.each do |prompt| %>
			<%= render :partial => 'firstline', :locals => {:prompt => prompt } %>
		<% end %>
		<tr>
			<td colspan=3>
				<%= will_paginate @prompts %>
			</td>
		</tr>
		</table>

	<% end %>
	
<% else %>

<!-- firstlines -->
<% unless @firstlines.empty? %>
<h2>First lines</h2>
	<table>
	<% @firstlines.each do |prompt| %>
		
		<%= render :partial => 'firstline', :locals => {:prompt => prompt } %>

	<% end %>
	<tr>
		<td colspan=3>

			<%= will_paginate @firstlines, :param_name => :page_firstlines %>
		</td>
	</tr>
	</table>
<% end %>

<!-- Images -->

<% unless @images.empty? %>
<h2>Images</h2>
	<table>
<% i = 0 %>
	<% @images.each do |prompt| %>
		<% i += 1 %>
		<% if i == 1 %>
			<tr>
		<% end %>
	
			<%= render :partial => 'image', :locals => { :prompt => prompt }  %>
					
		<% if i == 2 %>
			</tr>
			<% i = 0 %>
		
		<% elsif @images.size == 1 %>
			</tr>
		<% end %>
	
	<% end %>

<tr>
	<td colspan=2>
		
		<%= will_paginate @images, :param_name => :page_i %>
	</td>
</tr>
</table>

<% end %>


<!-- hero villain goal -->
<% unless @hvg.empty? %>
<h2>Hero-Villain-Goal</h2>
<table>


  <tr>
  		<th>Hero</th>
    	<th>Villain</th>
    	<th>Goal</th>
		<th>Stories</th>
		<th>Write</th>

		<% if is_admin %>
			<th>Use on</th>
		<% end %>

</tr>
<% @hvg.each do |prompt| %>
	
	<%= render :partial => 'hvg', :locals => {:prompt => prompt} %>
	
<% end %>

<tr class="row">
	<% is_admin ? @colspan = 6 : @colspan = 5 %>
	<td colspan=<%=@colspan%>>
		<%= will_paginate @hvg %>
	</td>
</tr>
</table>
<% end %>
	

<% end %>
</div>

<br />

