<% if is_admin %>
	<%= link_to 'New prompt', suggest_a_prompt_path %>
	| <%= link_to 'Verify prompts', unverified_prompts_path %>
	| <%= link_to 'Scheduled prompts', scheduled_prompts_path %>
	| <%= link_to 'View active prompts', prompts_path %>
	| <%= link_to "FridayFlash", edit_prompt_path('25') %>
<% end %>
<br />
<% unless @scheduled %>
	<% # select tag shows various prompts %>
	<%= select_tag_for_filter("prompts", @filters, params) %>
<% end %>
<div id="listPrompts">
<% if @scheduled %>
	<table>
		<% @prompts.each do |prompt| %>
		<tr>
			<td><%= link_to prompt.use_on, prompt_url(prompt) %></td>
		</tr>
		<% end %>
	</table>
<% else %>
<% if @table == "hvg" %>
<% unless @prompts.empty? %>
<h2>Hero-Villain-Goal</h2>
	<table>


	  <tr>
	  		<th>Hero</th>
	    	<th>Villain</th>
	    	<th>Goal</th>
			<th>Stories</th>
			<th>Write</th>
			
			<% if is_admin %>
				<th>Use on:</th>
			<% end %>

	</tr>
	 	<%= render :partial => 'hvg', :collection => @prompts %>
		
	<tr class="row">
		<% is_admin ? @colspan = 6 : @colspan = 5 %>
		<td colspan=<%=@colspan%>>
			<%= will_paginate @prompts, :renderer => StockRenderer  %>
		</td>
	</tr>
	</table>

	
<% end %>

<% elsif @table == "images" %>	

	<% unless @prompts.empty? %>
	<h2>Images</h2>
		<table>
			<% i = 0 %>
			<% @prompts.each do |prompt| %>
				<% i += 1 %>
				<% if i == 1 %>
					<tr>
				<% end %>

				<%= render :partial => 'image', :locals => { :prompt => prompt }  %>

				<% if i == 2 %>
					</tr>
					<% i = 0 %>

				<% elsif @prompts.size == 1 %>
					</tr>
				<% end %>
			

			<% end %>
			<tr>
				<td colspan=2>
					<%= will_paginate @prompts, :renderer => StockRenderer  %>
				</td>
			</tr>
		</table>


	<% end %>

<% elsif @table == "firstlines" %>
	<% unless @prompts.empty? %>
	<h2>First lines</h2>
		<table>
			<%= render :partial => 'firstline', :collection => @prompts  %>
		<tr>
			<td colspan=3>
				<%= will_paginate @prompts, :renderer => StockRenderer  %>
			</td>
		</tr>
		</table>

	<% end %>
	
<% else %>

<!-- firstlines -->
<% unless @firstlines.empty? %>
<h2>First lines</h2>
	<table>
		
		<%= render :partial => 'firstline', :collection => @firstlines %>

	<tr>
		<td colspan=3>

			<%= will_paginate @firstlines, :param_name => :page_firstlines, :renderer => StockRenderer  %>
		</td>
	</tr>
	</table>
<% end %>

<!-- Images -->

<% unless @images.empty? %>
<h2>Images</h2>
	<table>
<% i = 0 %>
	<% @images.each do |prompt| %>
		<% i += 1 %>
		<% if i == 1 %>
			<tr>
		<% end %>
	
			<%= render :partial => 'image', :locals => {:prompt => prompt}  %>
					
		<% if i == 2 %>
			</tr>
			<% i = 0 %>
		
		<% elsif @images.size == 1 %>
			</tr>
		<% end %>
	
	<% end %>

<tr>
	<td colspan=2>
		
		<%= will_paginate @images, :param_name => :page_i, :renderer => StockRenderer %>
	</td>
</tr>
</table>

<% end %>


<!-- hero villain goal -->
<% unless @hvg.empty? %>
<h2>Hero-Villain-Goal</h2>
<table>


  <tr>
  		<th>Hero</th>
    	<th>Villain</th>
    	<th>Goal</th>
		<th>Stories</th>
		<th>Write</th>

		<% if is_admin %>
			<th>Use on</th>
		<% end %>

</tr>

	
	<%= render :partial => 'hvg', :collection => @hvg %>
	


<tr class="row">
	<% is_admin ? @colspan = 6 : @colspan = 5 %>
	<td colspan=<%=@colspan%>>
		<%= will_paginate @hvg, :renderer => StockRenderer  %>
	</td>
</tr>
</table>
<% end %>
	

<% end %>
<%end %>
</div>

<br />

