<% content_for :pagename do %>
	Prompts
	<% if params[:show] %>
		( <%= params[:show] %> )
	<% else %>
		( firstlines )
	<% end %>
<% end %>

<% content_for :sideyard do %>
  <h2>How to Write a Story</h2>
  <p>Choose a prompt at left to jumpstart your writing.</p> 
  <p> Or if you're feeling daring, <%= link_to "click to write", write_url %> to the prompt we chose for today, or to a <%= link_to "random prompt", random_prompt_url %>.</p>
  <% unless current_user %>
    <p>Since you're not logged in yet, you'll be asked to login on the next page.
    </p>
  <% end %>
  <div class="toolbar_container">
    <div class="btn-group">
      <%= link_to "Write now", write_url, class: "btn btn-primary" %>
      <%= link_to "Random prompt", random_prompt_url, class: "btn btn-warning" %>
    </div>
  </div>
<% end %>

<h1>Write a story</h1>
<%= render :partial => 'admin' %>
<% unless @scheduled %>
	<% # select tag shows various prompts %>
	<div class="my-3">
		<span class="display-6">Prompt styles:</span>
		<%= raw(select_tag_for_filter("prompts", @filters, params)) %>
	</div>
<% end %>
	
<% if @scheduled %>
	<table>
		<% @prompts.each do |prompt| %>
		<tr>
			<td><%= prompt.id %></td><td><%= link_to prompt.use_on, prompt_url(prompt) %></td>
		</tr>
		<% end %>
	</table>
<% else %>
	<% unless @prompts.empty? %>
		<% if @table == "hvg" %>
			<h2>Hero / Villain / Goal</h2>
			<div class="row">
				<div class="col-sm-12 d-flex align-items-left justify-content-between my-3" style="overflow: scroll;">
					<%= render :partial => 'hvg', :collection => @prompts %>
				</div>
			</div>

		<% elsif @table == "images" %>	
			<h2>Images</h2>
			<div class="col-sm-12 d-flex align-items-left justify-content-between my-3" style="overflow: scroll;">
				<%= render :partial => 'image', collection: @prompts  %>
			</div>
		<% else @table == "firstlines" %>
			<h2>First lines</h2>
			<div class="col-sm-12 d-flex align-items-left justify-content-between my-3" style="overflow: scroll;">
				<%= render :partial => 'firstline', :collection => @prompts  %>
			</div>
		<% end %>
		<div class="row justify-content-center">
			<%= paginate @prompts  %>
		</div>
	<% end %>
<% end %>	