<h1>New prompt</h1>

<% form_for(@prompt) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :hero %><br />
    <%= f.text_field :hero %>
  </p>
  <p>
    <%= f.label :villain %><br />
    <%= f.text_field :villain %>
  </p>
  <p>
    <%= f.label :goal %><br />
    <%= f.text_field :goal %>
  </p>
  <p>
    <%= image_submit_tag("contribute.png", :name => "contribute", :id => "contribute-button", :disabled => false) %>
  </p>
<% end %>

<% if is_admin %>
<%= link_to 'Back', prompts_admin_path %>
<% end %>