<h1>suggest</h1>

<% form_for(@prompt) do |f| %>
  <%= f.error_messages %>
<h4>Heros, Villains, Goals</h4>
  <p>
    <%= f.label :hero %><br />
    <%= f.text_field :hero %>
  </p>
  <p>
    <%= f.label :villain %><br />
    <%= f.text_field :villain %>
  </p>
  <p>
    <%= f.label :goal %><br />
    <%= f.text_field :goal %>
  </p>

<h4>Images</h4>
	<p>
    <%= f.label :attribution_url, "	Or, submit a link to a Creative Commons licensed flickr image." %><br />
	<span style="font-size:small;">(Please link to the flickr page, not the image directly.)</span> <br />
    <%= f.text_field :attribution_url %>
  </p>
	
  <p>
    <%= image_submit_tag("contribute.png", :name => "contribute", :id => "contribute-button", :disabled => false) %>
  </p>
<% end %>