<% if is_admin %>
<p>
	<b>Use on:</b>
	<%=h @prompt.use_on if @prompt.use_on.present? %>
</p>
<%= link_to 'Edit', edit_prompt_path(@prompt) %> |
<%= link_to 'Back', prompts_path %>
<% end %>

<div id="show_prompt">
	<%= show_prompt %>
</div>

<div class="clear space"></div>

<h4>Other stories for this prompt</h4>
<%= render :partial => 'layouts/show_stories', :locals => { :stories => @stories } %>

