<p id="notice"><%= notice %></p>

<p>
  <strong>Firstline:</strong>
  <%= @prompt.firstline %>
</p>

<p>
  <strong>Use on:</strong>
  <%= @prompt.use_on %>
</p>

<p>
  <strong>Active:</strong>
  <%= @prompt.active %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @prompt.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @prompt.updated_at %>
</p>

<p>
  <strong>Stories count:</strong>
  <%= @prompt.stories_count %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @prompt.kind %>
</p>



<%= link_to 'Edit', edit_prompt_path(@prompt) %> |
<%= link_to 'Back', prompts_path %>
