<% content_for :pagename do %>
	Prompt <%= @prompt.id %>
<% end %>

<% content_for :sideyard do %>

<% if is_admin %>
<div class="prompt">
	<span>
		<%= link_to 'Edit', edit_prompt_path(@prompt) %> |
		<%= link_to 'Back', prompts_path %>
	</span>
</div>
<% end %>


	<div id="show_prompt">
		<%= show_prompt %>
		<div class="prompt">
			<span>
				Originally displayed on:<br /> <%=h @prompt.use_on.strftime("%B %d, %Y") if @prompt.use_on.present? %>
			</span>
		</div>
	</div>


<% end %>




<div class="clear space"></div>
<%= render :partial => 'admin' %>
<h1>Other stories for this prompt</h1>
<%= render :partial => 'stories/story', :collection => @stories %>
<%= render :partial => "stories/pagination" %>

