%p#notice= notice

%p
  %b Title:
  = @contest.title
%p
  %b Description:
  = @contest.description
%p
  %b Terms:
  = @contest.terms
%p
  %b Duration:
  = @contest.duration

%p
  %b Starts at:
  = starts_at_in_words(@contest)
%p
  %b Ends at:
  = ends_at_in_words(@contest)

- if is_admin
  = link_to 'Edit', edit_contest_path(@contest)
  ||
  = link_to 'Back', contests_path
