- content_for :sideyard do
  - if is_admin
    .btn-group.mb-3
      = link_to 'Edit', edit_contest_path(@contest), class: 'btn btn-warning'
      = link_to 'Back', contests_path, class: 'btn btn-secondary'

  %h5
    = starts_at_in_words(@contest)
    \-
    = ends_at_in_words(@contest)
  %small
    %b Terms
    = @contest.terms

= render @contest