<% content_for :sideyard do %>
	
	<%= render :partial => "site/profile_block" %>
	
<h2>Likes (<%= @user.writers.count :conditions => :active %>)</h2>
<% if @user.followings.present? %>

<ul>
	

	  <% for following in @user.followings %>
	    <li>
		
			<%= 
			 link_to h(following.writer.login), profile_path(following.writer) 
			%>
				
			
	<% end %>
</ul>

  	<% else %>
		<span>
				Not following anyone yet.
		</span>
	<% end %>
<h2>Fans (<%= @user.followers.count :conditions => :active %>)</h2>

	<% if @user.followers.present? %>
<ul>
	  <% for follower in @user.followers %>
		<li>
			<%= link_to h(follower.login), profile_path(follower) %>
		</li>
	    
	  <% end %>
</ul>

	<% else %>
		<span>
				No followers as of yet.
		</span>
	<% end %>
	
<% end %>