.row-fluid.title
  .span5
    %h2= @story.user.login
  .span7.hidden-phone
    %hr


.row-fluid.title

  .span6.information
    - if is_admin
      %p
        %i.icon-envelope
        %span
          = @story.user.try(:email_address)
    %p
      %i.icon-calendar{title: 'Joined'}
      %span
        Joined
        = time_ago_in_words(@story.user.created_at)
        ago
    - if @story.user.followers.any?
      %p
        %i.icon-group{title: 'Followers'}
        %span
          = @story.user.followers.count
          followers

    %p
      %i.icon-thumbs-up{title: 'Reputation'}
      %span
        = @story.user.karma
        reputation
    %p
      %i.icon-pencil{title: 'Read Stories'}
      %span
        = link_to profile_path(@story.user) do
          = @story.user.stories.where(active: true).count.to_s
          stories
    - if @story.user.website.present?
      %p
        %i.icon-globe
        %span
          = link_to "Visit website", @story.user.website, :title => @story.user.website, :rel => 'nofollow'
    - if is_user && (current_user.id == @story.user.id)
      %small
        = link_to edit_account_path, class: "btn btn-primary" do
          %i.icon-edit
          Manage Profile
    - elsif is_user && current_user.id != @story.user.id
      = render :partial => 'site/following_toggle', :locals => {:user => @story.user}
  .span6
    - if @story.user.profile.present?
      .profile
        %h3
          about
        %p
          = auto_link(simple_format(@story.user.profile))

