<% content_for :sideyard do %>
	
	<%= render :partial => "site/profile_block" %>
	
<% if is_user %>
	<h2>Favorites (<%= @user.votes.size %>)</h2>
	<p>
		<%= link_to "View favorites", favorites_path(@user) %>
	</p>
<% end %>

<% if is_owner_or_admin %>
	<h2>Comments (<%= @user.comments_count || "0" %>)</h2>
	<p>
		<%= link_to "View comments", users_comments_path("new") %>
	</p>
<% end %>

<h2>Follows (<%= @user.writers.size %>)</h2>
<% if @user.followings.present? %>

<ul>
	

	  <% for following in @user.followings %>
	    <li>
		
			<%= 
			 link_to h(following.writer.login), profile_path(following.writer) 
			%> <%= link_to_if @user == current_user, "[unfollow]", following, {:method => :delete, :style => "color:white;"} do %>
						&nbsp;
					<% end
				%>
				
			
	<% end %>
</ul>

  	<% else %>
		<span>
				Not following anyone yet.
		</span>
	<% end %>
<h2>Fans (<%= @user.followers.size %>)</h2>

	<% if @user.followers.present? %>
<ul>
	  <% for follower in @user.followers %>
		<li>
			<%= link_to h(follower.login), profile_path(follower) %>
		</li>
	    
	  <% end %>
</ul>

	<% else %>
		<span>
				No fans as of yet.
		</span>
	<% end %>
	
<% end %>