
<% form_for @user, :url => account_path do |f| %>
<div class="new_story_container edit_profile">
<table>
	<tr>		
		<td>
			<h1>edit profile
		</h1>
			<h2>Account Settings</h2>
			<p>
				<%= f.label :login, "Pseudonym" %><br />
				<%= @user.errors[:login] %><br />
				<%= f.text_field :login %>
			</p>
			
			<p>
			  <%= f.label :email_address %><br />
				<%= @user.errors[:email_address] %><br />
			  <%= f.text_field :email_address %>
			</p>
			
			<p>
				<%= f.label :password, f.object.new_record? ? nil : "Change password" %><br />
				<%= @user.errors[:password] %><br />
				<%= f.password_field :password %>
			</p>
			<p>
			<%= f.label :password_confirmation %><br />
			<%= @user.errors[:password_confirmation] %><br />
			<%= f.password_field :password_confirmation %>
			</p>
		
			<div id="email_preferences">
				<h2>Email Preferences</h2>	
					<h3>
						Receive notifications when
					</h3>
			  <p>
				<%= f.check_box :send_comments %>
				<%= f.label :send_comments, "someone comments on your story", :class => "notification_option" %>
			    
			  </p>
			
			  <p>
			    <%= f.check_box :send_followings %>
			    <%= f.label :send_followings, "someone starts following you", :class => "notification_option"%>
			  </p>
			<p>
			    <%= f.check_box :send_stories %>
			<%= f.label :send_stories, "your story is featured", :class => "notification_option"%>
			  </p>
			
			</div>
			
		
			<p>
				<%= submit_tag("Save", :name => "save", :id => "save-button", :disabled => false) %>
			</p>
		</td>
		<td>
			
			<h2>Public Profile</h2>
			<p>
			  <%= f.label :website %><br />
				<%= @user.errors[:website] %><br />
			  <%= f.text_field :website %>
			</p>

			<p>
				<%= f.label :profile %><br />
				<%= @user.errors[:profile] %><br />

				
						<%= f.text_area :profile, :rows => 15, :cols => 25 %>
			</p>
			
			<h2>Link Accounts</h2>
			<p>Linking accounts enables you to login using your existing accounts with other services. Further, if you initially signed in using one account (say, Facebook) and you wish to be able to sign in with another (say, Twitter), you can link additional accounts here. 
				</p>
					<p>
						<%= rpx_popup( 
							:link_text => "Add OpenID, Facebook, Twitter, etc to your account", 
							:app_name => "six-minute-story", 
							:return_url => addrpxauth_url, 
							:add_rpx => true, 
							:unobtrusive => false ) %>

					</p>
			
		</td>
	</tr>
</table>

<% end %>
