	<h1>edit profile
	</h1>
<div class="edit_user_form center">


<% form_for @user, :url => account_path do |f| %>

<table >
	<tr>		
		<td>
			<p>
				<%= f.label :login, "Username" %><br />
				<%= f.error_message_on 'login' %><br />
				<%= f.text_field :login %>
			</p>
			
			<p>
			  <%= f.label :email_address %><br />
				<%= f.error_message_on 'email_address' %><br />
			  <%= f.text_field :email_address %>
			</p>
			
			<p>
				<%= f.label :password, f.object.new_record? ? nil : "Change password" %><br />
				<%= f.error_message_on 'password' %><br />
				<%= f.password_field :password %>
			</p>
			<p>
			<%= f.label :password_confirmation %><br />
			<%= f.error_message_on 'password_confirmation' %><br />
			<%= f.password_field :password_confirmation %>
			</p>
		
			<div id="email_preferences">
					<h2>
						Receive notifications when
					</h2>
			  <p>
				<%= f.check_box :send_comments %>    
				<%= f.label :send_comments, "someone comments on your story", :class => "notification_option" %>
			    
			  </p>
			  <p>
			    <%= f.check_box :send_followings %>
			    <%= f.label :send_followings, "someone follows you", :class => "notification_option"%>
			  </p>
			</div>
			<p>
				<%= image_submit_tag("save.png", :name => "save", :id => "save-button", :disabled => false) %>
			</p>
		</td>
		<td>
			<p>
			  <%= f.label :website %><br />
				<%= f.error_message_on 'website' %><br />
			  <%= f.text_field :website %>
			</p>

			<p>
				<%= f.label :profile %><br />
				<%= f.error_message_on 'profile' %><br />

				
						<%= f.text_area :profile, :rows => 15, :cols => 25 %>
			</p>
			
		</td>
	</tr>
</table>

<% end %>
</div>