<div class="add_share_form">
	<h1>Login information:
	</h1>

<% form_for @user, :url => account_path do |f| %>

<table >
	<tr>
		
		<td>
			<p>
				<%= f.label :login %><br />
				<%= f.error_message_on 'login' %><br />
				<%= f.text_field :login %>
			</p>
			<p>
				<%= f.label :password, f.object.new_record? ? nil : "Change password" %><br />
				<%= f.error_message_on 'password' %><br />
				<%= f.password_field :password %>
			</p>
			<p>
			<%= f.label :password_confirmation %><br />
			<%= f.error_message_on 'password_confirmation' %><br />
			<%= f.password_field :password_confirmation %>
			</p>
			<p>
				<%= f.submit "Done!" %>
			</p>
		</td>
		<td class="right">
			<p>
			  <%= f.label :website %><br />
				<%= f.error_message_on 'website' %><br />
			  <%= f.text_field :website %>
			</p>
			<p>
			  <%= f.label :email_address %><br />
				<%= f.error_message_on 'email_address' %><br />
			  <%= f.text_field :email_address %>
			</p>
			<p>
			  <%= f.label :profile %><br />
				<%= f.error_message_on 'profile' %><br />
			  <%= f.text_area :profile, :rows => 15, :cols => 25 %>
			</p>
			
		</td>
	</tr>
</table>

<% end %>
</div>