<h1>Users admin</h1>

<table>
	<tr>

		<% if is_admin %>
			<th>status</th>
		
		<% end %>
					<th><a href="?order=login">username</a></th>
					<th><a href="?order=email_address">email</a></th>
					<th><a href="?order=stories_count DESC">stories</a></th>
					<th>followers</th>	
	</tr>
<% for user in @users %>

<tr class="<%= cycle('row_alternate', 'row') -%>">
	<% if is_admin %>
	
		<td>
		<span>
		
				<% if user.active? %>
					<%= link_to "Suspend", disable_user_url(user) %>
				<% else %>
					<%= link_to "Activate", enable_user_url(user) %>	 
					
				<% end %>
		</span>
		</td>
		
	<% end %>
		<td id="show_shares" class="title">

		<span>
			<%= link_to h(user.login), user %> 
	
		</span>
	</td>
	<td>
		<span>
		<%= h(user.email_address) %>
		</span>
	</td>
	<td>
		<%= link_to h(user.stories_count ? user.stories_count : "0"), profile_path(user) %>
	</td>
	<td>
		<%= user.followers.size {where(:active => true)} %>
	</td>
	</tr>
</tr>

<% end %>

<% if @users.present? %>



<tr id="pagination">
	<td colspan=4>
		<% # Users count
		 %>	
		<% if is_admin %>
			<%= 
			 page_entries_info @users 
			%>
		<% end %>
			<%= will_paginate @users %>
	</td>
</tr>
<% end %>


</table>
