<div id="show_stories">
<h1>Users admin</h1>

<table>
	<tr>

		<% if is_admin %>
			<th>status</th>
		
		<% end %>
					<th>username</th>
						<th>email</th>
	</tr>
<% for user in @users %>

<tr class="<%= cycle('row_alternate', 'row') -%>">
	<% if is_admin %>
	
		<td>
		<span>
		
				<% if user.active? %>
					<%= link_to "Suspend", disable_user_url(user) %>
				<% else %>
					<%= link_to "Activate", enable_user_url(user) %>	 
					
				<% end %>
		</span>
		</td>
		
	<% end %>
		<td id="show_shares" class="title">

		<span>
			<%= link_to h(user.login), user %> 
	
		</span>
	</td>
	<td>
		<span>
		<%= h(user.email_address) %>
		</span>
	</td>
	</tr>
</tr>

<% end %>

<% if @users.present? %>

<tr id="pagination">
	<td colspan=2>
			<%= will_paginate @users %>
	</td>
</tr>
<% end %>


</table>

</div>
 </div>