<h1>sign up</h1>
<div class="user_form float_left">

<% form_for @user, :url => account_path do |f| %>
<table>
	<tr>
		<td colspan=2>
			&nbsp; <%= f.error_message_on 'login' %>
		</td>
	</tr>
	<tr>
		<th>
			<%= f.label :login, "Username" %>			
		</th>
		<td>
			<%= f.text_field :login, :tabindex => "1" %>
		</td>
	</tr>
	<tr>
		<td colspan=2>
			&nbsp; <%= f.error_message_on 'email_address' %>
		</td>
	</tr>

	<tr>
		<th>
			<%= f.label :email_address, f.object.new_record? ? "Email" : "Change email" %>
		</th>
		<td>
			
			<%= f.text_field :email_address, :tabindex => "2" %>
		</td>
	</tr>
	<tr>
		<td colspan=2>
			&nbsp;<%= f.error_message_on 'password' %><br />
		</td>
	</tr>
	<tr>
		<th>
			<%= f.label :password, f.object.new_record? ? nil : "Change password" %>
		</th>

		<td>			
			<%= f.password_field :password, :tabindex => "3" %>
		</td>
	</tr>
	<tr>
		<td colspan=2>
			&nbsp; <%= f.error_message_on 'password_confirmation' %><br />
		</td>
	</tr>

	<tr>
		<th>
			<%= f.label :password_confirmation, "Confirm it" %>
		
		</th>

		<td>
			<%= f.password_field :password_confirmation, :tabindex => "4" %>
		</td>
	</tr>
	<tr>
		<td colspan=2>
			&nbsp;
		</td>
	</tr>

	<tr>
		
		<td colspan=2>
			<%= recaptcha_tags :display => {:theme => "white", :tabindex => "5"} %>
		</td>
	</tr>
	<tr>
		<td colspan=2>
			&nbsp;
		</td>
	</tr>

	<tr>
		
		<td colspan=2>
			<%= image_submit_tag(
				"register.png", 
				:name => "register", 
				:id => "register-button", 
				:disabled => false, 
				:tabindex => "6") %>
		</td>
	</tr>
	  
</table>
<% end %>
</div>

	<%= 
		rpx_embed( :link_text => "Register/Sign in with RPX..", :app_name => "six-minute-story", :return_url => user_session_url )
	%>
