<h1>sign up</h1>
<div class="user_form float_left">

<% form_for @user, :url => account_path do |f| %>
<table>
	<tr>
		<th>
			<%= f.label :login, "Username" %>			
		</th>
		<td>
			<%= f.error_message_on 'login' %>
			<%= f.text_field :login, :tabindex => "1" %>
		</td>
	</tr>
	<tr>
		<th>
			<%= f.label :email_address, f.object.new_record? ? "Email" : "Change email" %>
		</th>
		<td>
			<%= f.error_message_on 'email_address' %><br />	
			<%= f.text_field :email_address, :tabindex => "2" %>
		</td>
	</tr>

	<tr>
		<th>
			<%= f.label :password, f.object.new_record? ? nil : "Change password" %>
		</th>

		<td>			
			<%= f.error_message_on 'password' %><br />
			<%= f.password_field :password, :tabindex => "3" %>
		</td>
	</tr>
	<tr>
		<th>
			<%= f.label :password_confirmation, "Confirm password" %>
		
		</th>

		<td>
			<%= f.error_message_on 'password_confirmation' %><br />
			<%= f.password_field :password_confirmation, :tabindex => "4" %>
		</td>
	</tr>
	<tr>
		
		<td colspan=2>
			<%= recaptcha_tags :display => {:theme => "white", :tabindex => "5"} %>
		</td>
	</tr>
	<tr>
		
		<td colspan=2>
			<%= image_submit_tag(
				"register.png", 
				:name => "register", 
				:id => "register-button", 
				:disabled => false, 
				:tabindex => "6") %>
		</td>
	</tr>
	  
</table>
<% end %>
</div>

<div id="facebook_login_container">
	<h3>
		Login with facebook
	</h3>
	<div id="facebook_login_button">
		<%= authlogic_facebook_login_button :length => "long" %>
	</div>		
</div>