<div id="show_share">
	<h1>
	  <%=h @user.login %>
	</h1>

<table>
	<tr>
	<td>
			<p>
			  Website:
			</p>
			<p class="show_share_value">
			  <%=h @user.website %>
			</p>

			<p>
			  Contact:
			</p>
			<p class="show_share_value">  
			<%= if current_user 
				then @user.email_address 
				else
					link_to "Login", login_path
				end
			%> to contact users
			</p>

		</td>
		<td>
			<p>
			  Profile:
			</p>
			<p class="show_share_description">  
			<%=h @user.profile %>
			</p>
		</td>
	</tr>
</table>

</div>

<br /><br />

<div id="contributed_shares">
	<h1>Contributed shares | <%= link_to 'New share', new_share_path %> </h1>
<table>
	<tr>
		<th colspan="2">
		
		</td>
	</tr>
  <tr>
	<th>
		<span>&nbsp;
		</span>
	</th>
	
	<th>
		<span>Title
		</span>
	</th>
	<th>
		<span>Description
		</span>
  </tr>

<% for share in @shares %>
  <tr>
    <td>
		<span>[<%= link_to "Direct Link", share.link %>]
		</span>
	</td>
	<td>
		<span><%= link_to share.title, share %>
		</span>
	</td>
   <td>
		<span><%=h share.description[0,40] %>... [<%= link_to 'more', share %>]
		</span>
	</td>
  </tr>
<% end %>
</table>

</div>

