
<% content_for :pagename do %>
	<%= "Profile for " + h(@user.login) %>
<% end %>

<%= render :partial => 'profile' %>


<h1><%= @title %></h1>
	<nav>
		<% unless @profile %>
			<div class="purple button_container">
				<%= link_to "Favorites", favorites_url(@user) %>
			</div>
			<div class="brown button_container">
				<%= link_to "Comments", users_comments_url("new") %>
			</div>
		
		<% end %>
	</nav>
 <%= render :partial => "stories/story", :collection => @stories %>

<%= render :partial => "stories/pagination" %>
