<% if current_user.id == @user.id %>
<%= render :partial => "layouts/show_stories" %>

<br /><br />
<div id="show_story">
	<h1>
	  <%=h @user.login %>
	</h1>
	<h1>
		<%= link_to 'edit', edit_account_path %>
	</h1>

	<%= render :partial => "site/profile_block" %>

</div>
<% else %>
<%= render :action => "profile" %>
<% end %>
