
<% content_for :pagename do %>
	<%= ":: Profile for " + h(@user.login) %>
<% end %>

<% content_for :sideyard do %>
	
	Id <%= current_user.id %><br />
	Fb (via C_U) <%= current_user.facebook_uid %>
	
	Fb: <%= @user.facebook_uid unless @user.facebook_uid.blank? %>
	
	<%= render :partial => "site/profile_block" %>
	
<h2>Following (<%= @user.writers.count :conditions => :active %>)</h2>

<ul>
	
	<% if @user.followings.present? %>

	  <% for following in @user.followings %>
	    <li>
		
			<%= link_to h(following.writer.login), profile_url(h(following.writer.login)) %>
				
			
	<% end %>
  	<% else %>
		<span>
				Not following anyone yet.
		</span>
	<% end %>
</ul>
<h2>Followers (<%= @user.followers.count :conditions => :active %>)</h2>
<ul>
	<% if @user.followers.present? %>
	  <% for follower in @user.followers %>
		<li>
			<%= link_to h(follower.login), profile_url(follower.login) %>
		</li>
	    
	  <% end %>
	<% else %>
		<span>
				No followers as of yet.
		</span>
	<% end %>
	
</ul>
<% end %>

<h4>
	<% if is_user && current_user.id == @user.id && !@user.writers.empty? && request.path.include?("account") %>
		Stories by <br /> Writers You Follow
	<% else %>
		Stories by <%= @user.login %>
	<% end %>
</h4>

 <%= render :partial => "layouts/show_stories" %>
