<% if current_user.id == @user.id %>
<%= render :partial => "layouts/show_shares" %>

<br /><br />
<div id="show_share">
	<h1>
	  <%=h @user.login %> | <%= link_to 'Edit profile', edit_user_path(@user) %>
	</h1>

<table>
	<tr>
	<td>
			<p>
			  Website:
			</p>
			<p class="show_share_value">
			  <%= link_to h(@user.website), @user.website %>
			</p>

			<p>
			  Email address:
			</p>
			<p class="show_share_value">  
			<%= mail_to h(@user.email_address), @user.email_address %>
			</p>

		</td>
		<td>
			<p>
			  Profile:
			</p>
			<p class="show_share_description">  
			<%=h @user.profile %>
			</p>
		</td>
	</tr>
</table>

</div>
<% else %>
<%= render :action => "profile" %>
<% end %>
