
<% content_for :pagename do %>
	<%= "Profile for " + h(@user.login) %>
<% end %>

<%= render :partial => 'profile' %>


<h4><%= @title %></h4>
	
	<% unless @profile %>
		<div class="purple button_container">
			<%= link_to "Favorites", favorites_url(@user) %>
		</div>
		<div class="brown button_container">
			<%= link_to "Comments", users_comments_url("new") %>
		</div>
		
	<% end %>
	
 <%= render :partial => "layouts/show_stories" %>
