<% if current_user.id == @user.id %>
<%= render :partial => "layouts/show_shares" %>

<br /><br />
<div id="show_share">
	<h1>
	  <%=h @user.login %> | <%= link_to 'Edit profile', edit_user_path(@user) %>
	</h1>

	<%= render :partial => "site/profile_block" %>

</div>
<% else %>
<%= render :action => "profile" %>
<% end %>
