<%= link_to 'Edit Profile', edit_user_path(@user) %> | <%= link_to "Logout", user_session_path, :method => :delete, :confirm => "Are you sure you want to logout?" %>

<p>
  <b>Login:</b>
  <%=h @user.login %>
</p>

<p>
  <b>Website:</b>
  <%=h @user.website %>
</p>

<p>
  <b>Email address:</b>
  <%=h @user.email_address %>
</p>

<p>
  <b>Profile:</b>
  <%=h @user.profile %>
</p>

<p>
  <b>Login count:</b>
  <%=h @user.login_count %>
</p>
<hr>

<h2>Contributed shares:</h2>

<table>
  <tr>
	<th>Modify</th>
	<th>Title</th>
  </tr>

<% for share in @shares %>
  <tr>
    <td><%= link_to 'Show', share %> 
	| <%= link_to 'Edit', edit_share_path(share) %> 
	</td>

	<td><%= share.title -%></td>
  </tr>
<% end %>
</table>
