- full_size = false unless full_size
.story.card.shadow-sm.mt-0{class: ("mx-3 mb-3 mt-0" if @stories), class: ("mb-1" if @parent && !@stories), class: ("col-md-4 p-0 mb-3 mb-md-0 shadow-sm" if @children && !full_size)}
  .card-header.bg-light
    %h2.mt-1.h3
      = link_to story.safe_title, story_url(story), class: "text-info"
      %small.text-muted
        by
        = link_to story.user.login, profile_path(story.user), class: "text-secondary"
        = time_ago_in_words(story.created_at) + " ago"

  .card-body.p-3
    - if @stories || @children
      = simple_format(sanitize(story.truncated_description))
      = link_to story_url(story), class: "btn btn-success btn-mini" do
        %span Read more 
        %i.icon-circle-arrow-right
    - else
      .row-fluid.story-itself
        .span10.offset1
          = simple_format(sanitize(story.description))
  - unless @parent
    %div{class: ("card-footer")}
      %span.comments_in_footer
        / = link_to pluralize(story.comments_count, 'remark'), story_url(story, :anchor => "comments")
        = link_to raw(story.comments_count.to_s + " <i class='icon-comment'></i>"), story_url(story, :anchor => "comments"), class: "text-dark", rel: "tooltip", title: "#{story.comments_count.to_s} comments"

      - unless @stories || @parent
        %span &nbsp;|&nbsp;
        %span.favorites_in_footer
          #{render :partial => "votes/story_vote", :story => story}
      %span &nbsp;|&nbsp;
      %span.counter_in_footer
        / = pluralize(story.counter, 'view')
        = story.counter
        %i.icon-user
      - unless @stories || @children
        - if is_user
          %span &nbsp;|&nbsp;
          %span.flag
            / This is how people flag stories
            = link_to flag_story_url(story.id), :method => "post", rel: "tooltip", title: "Flag this as hateful" do
              %i.icon-flag

          - if is_owner_or_admin
            &nbsp;||&nbsp;
            = link_to edit_story_path(@story) do
              %i.icon-edit
              Edit
          - if is_admin
            &nbsp;|&nbsp;
            = @story.flagged
            %i.icon-flag