
	<div class="toolbar_container">
		<div id="show_story_toolbar">
		<table>
			<% if @story.featured %>
				<tr>
					<td colspan=2>
						<h2>Browse featured stories</h2>
					</td>
				</tr>	
				<tr>
							<td>
								<div class="green button_container">	
									<% if(@previous_featured.present?) %>
									<%= link_to "<< Previous", story_url(@previous_featured)%>
									<% else %>
										<span>The end</span>
									<% end %>
								</div>
							</td>		


								<td>
									<div class="green button_container">	
									<% if(@next_featured.present?) %>
										<%= link_to "Next >> ", story_url(@next_featured)%>
									<% else %>
										<span>The end</span>
									<% end %>
									</div>
								</td>


				</tr>
				
			<% end %>
			<tr>
				<td colspan=2>
					<h2>Browse all stories</h2>
				</td>
			</tr>
			<tr>
						<td >
							<div class="green button_container">	
								<% if(@previous.present?) %>
								<%= link_to "<< Previous", story_url(@previous)%>
								<% else %>
									<span>Le début</span>
								<% end %>
							</div>
						</td>		
	
			
							<td>
								<div class="green button_container">	
								<% if(@next.present?) %>
									<%= link_to "Next >> ", story_url(@next)%>
								<% else %>
									<span>The end</span>
								<% end %>
								</div>
							</td>
		
								
			</tr>
			
			<tr>
							<td>
								<div class="brown button_container">	
									
										<%= link_to "Random", random_stories_url %>
								</div>
							</td>
							
				<td>
						<div class="purple button_container">	
						
						<a href="#comments">
							<div id="comments_count"><%= pluralize(@story.comments_count, 'remark') -%></div>
						</a>
						</div>
				</td>
						
						
			</tr>
			
		</table>
		</div>
	</div>
			