
	<div class="toolbar_container">
		<div id="show_story_toolbar">
		<table>
			<tr>
						<td >
							<div class="green button_container">	
								<%= link_to "<< Previous", story_path(@previous)%>
							</div>
						</td>		
	
			
							<td>
								<div class="green button_container">	
									<%= link_to "Next >> ", story_path(@next)%>
								</div>
							</td>
		
								
			</tr>
			<tr>
							<td>
								<div class="brown button_container">	
									
										<%= link_to "Random", read_random_url %>
								</div>
							</td>
						
							<td id="votes_<%= @story.id %>">
								<div class="purple button_container">	
								
								<%= render 	:partial => "votes/story_vote", 
											:locals => {:story => @story} %>	
								</div>
							</td>
			</tr>
			<tr>
							<td>
								<div class="brown button_container">	
								
							
							<!-- AddThis Button BEGIN -->
						<script type="text/javascript">
							var addthis_pub="sixminutestory";
						</script>
							<a 
								href="http://www.addthis.com/bookmark.php?v=20" 
								onmouseover="return addthis_open(this, '', '[URL]', '[TITLE]')" 
								onmouseout="addthis_close()" 
								onclick="return addthis_sendto()">Share</a>
								
						<script type="text/javascript" src="http://s7.addthis.com/js/200/addthis_widget.js">
						</script>
							<!-- AddThis Button END -->
								
								</div>
							</td>
					<td>
							<div class="purple button_container">	
							
							<a href="#comments">
								<%= pluralize(@story.comment_counter, 'remark') -%>
							</a>
							</div>
					</td>
			</tr>
		</table>
		</div>
	</div>
			