
	<div class="toolbar_container">
		<div id="show_story_toolbar">
		<table>
			<% if @featured %>
				<tr>
							<td >
								<div class="green button_container">	
									<% if(@previous_featured.present?) %>
									<%= link_to "<< Previous", read_featured_story_path(@previous_featured)%>
									<% else %>
										<span>El Fin</span>
									<% end %>
								</div>
							</td>		


								<td>
									<div class="green button_container">	
									<% if(@next_featured.present?) %>
										<%= link_to "Next >> ", read_featured_story_path(@next_featured)%>
									<% else %>
										<span>El Fin</span>
									<% end %>
									</div>
								</td>


				</tr>
				
			<% else %>
			<tr>
						<td >
							<div class="green button_container">	
								<% if(@previous.present?) %>
								<%= link_to "<< Previous", read_story_path(@previous)%>
								<% else %>
									<span>El Fin</span>
								<% end %>
							</div>
						</td>		
	
			
							<td>
								<div class="green button_container">	
								<% if(@next.present?) %>
									<%= link_to "Next >> ", read_story_path(@next)%>
								<% else %>
									<span>El Fin</span>
								<% end %>
								</div>
							</td>
		
								
			</tr>
			
			<tr>
							<td>
								<div class="brown button_container">	
									
										<%= link_to "Random", read_random_url %>
								</div>
							</td>
							
				<td>
						<div class="purple button_container">	
						
						<a href="#comments">
							<div id="comments_count"><%= pluralize(@story.comments_count, 'remark') -%></div>
						</a>
						</div>
				</td>
						
						
			</tr>
			<% end %>
			
			<tr>
							<td>
								<div class="brown button_container">	
								
							
							<!-- AddThis Button BEGIN -->
						<script type="text/javascript">
							var addthis_pub="sixminutestory";
						</script>
							<a 
								href="http://www.addthis.com/bookmark.php?v=20" 
								onmouseover="return addthis_open(this, '', '[URL]', '[TITLE]')" 
								onmouseout="addthis_close()" 
								onclick="return addthis_sendto()">Share</a>
								
						<script type="text/javascript" src="http://s7.addthis.com/js/200/addthis_widget.js">
						</script>
							<!-- AddThis Button END -->
								
								</div>
							</td>
							
								<td id="votes_<%= @story.id %>">
									<div class="purple button_container">	

									<%= render 	:partial => "votes/story_vote", 
												:locals => {:story => @story} %>	
									</div>
								</td>
			</tr>
		</table>
		</div>
	</div>
			