
	<div class="toolbar_container">

		<table  id="show_story_toolbar">
			<tr>
						<td class="green button_container">
								<a href="<%=@previous%>">&lt;&lt; Previous</a>
						</td>		
	
			
							<td class="green button_container">
									<a href="<%=@next%>">Next &gt;&gt;</a>
							</td>
		
								
				
								
			</tr>
			<tr>
							<td class="brown button_container">
										<%= link_to "Random", read_random_url %>
							</td>
						
							<td id="votes_<%= @story.id %>" class="purple button_container">
								<%= render 	:partial => "votes/story_vote", 
											:locals => {:story => @story} %>	
							</td>
			</tr>
			<tr>
					<td class="brown button_container">
							<!-- AddThis Button BEGIN -->
						<script type="text/javascript">
							var addthis_pub="sixminutestory";
						</script>
			<a href="http://www.addthis.com/bookmark.php?v=20" onmouseover="return addthis_open(this, '', '[URL]', '[TITLE]')" onmouseout="addthis_close()" onclick="return addthis_sendto()">Share</a>
						<script type="text/javascript" src="http://s7.addthis.com/js/200/addthis_widget.js">
						</script>
							<!-- AddThis Button END -->
			
					</td>
					<td class="purple button_container">
							<a href="#comments">
								<%= pluralize(@story.comment_counter, 'comment') -%>
							</a>
					</td>
			</tr>
		</table>
	</div>
			