= form_for @story, html: {class: "form-horizontal"} do |form|
  .row.mx-3.mb-3
    .col-md-4
      %h2
        Edit Story
        = submit_tag "Save", :name => "save", :id => "save-button", class: 'btn btn-primary'

        - if is_admin
          - if @story.active == true
            = link_to "Disable Story", @story, confirm: 'Are you sure you want to destroy this story? It will disappear!', method: :delete, class: 'btn btn-danger'
          - elsif @story.active == false
            = link_to "Enable", enable_story_url(@story), method: :patch, confirm: 'Are you sure you want to enable this story? The story will become visible!', class: 'btn btn-warning'
    .col-md-8
      %hr


  .row.mx-3
    .col-md-6
      .card.mb-3
        %h3.card-header Story

        .card-body
          - unless current_user.can_edit?
            .alert.alert-info
              %small
                Story cannot be edited unless a writer's reputation is five or higher.
          .form-group
            - if current_user.can_edit?
              = form.text_area :description, :disabled => @disabled, :value => @story.description, :rows => 20, :tabindex => "1", class: 'col-md-12 form-control'
            - else
              = simple_format(sanitize(@story.description))
    .col-md-6
      .card.mb3
        %h4.card-header
          Story details

        .card-body
          .form-group
            %label.form-label Title
            = form.text_field :title, :tabindex => "2", class: 'col-md-6 form-control'

          .form-group
            %label.form-label
              Adjectives
              %span{:style => "font-size:x-small"} separate adjectives with commas
            = form.text_field :tag_list, :tabindex => "3", class: 'col-md-6 form-control'

          .form-group
            %label.form-label
              Genres
              %span{:style => "font-size:x-small"} separate genres with commas
              = form.text_field :genre_list, :tabindex => "4", class: 'col-md-6 form-control'

          .form-group
            %label.form-label License
            %select#story_license{:name => "story[license]", :onchange => "", :tabindex => "5",class: 'col-md-6 form-control'}
              %option{:value => "Creative Commons Attribution 3.0"}
                Creative Commons Attribution 3.0
              %option{:value => "Creative Commons Attribution-NoDerivs 3.0"}
                Creative Commons Attribution-NoDerivs 3.0
              %option{:value => "Creative Commons Attribution-NonCommerical-NoDerivs 3.0"}
                Creative Commons Attribution-NonCommercial-NoDerivs 3.0
              %option{:value => "Creative Commons AttributionNonCommerical 3.0"}
                Creative Commons Attribution-NonCommercial 3.0
              %option{:value => "Creative Commons Attribution-NonCommerical-ShareAlike 3.0"}
                Creative Commons Attribution-NonCommercial-ShareAlike 3.0
              %option{:selected => "selected", :value => "Creative Commons Attribution-ShareAlike 3.0"}
                Creative Commons Attribution-ShareAlike 3.0
              %option{:value => "Public Domain"} Public Domain

  - if is_admin
    .row.mx-4.mb-3
      .col-md-12
        .card
          .card-header
            %label.form-label Prompt
          .card-body 
            .input-group  
              = form.text_field :prompt_id, class: "form-control col-md-6"
              = submit_tag "Save", :name => "save", :id => "save-button", class: "btn btn-danger form-control col-md-2"
      