- # This is for the RSS feed
- if request.path == "/"
  - @rss_url = "http://feeds.feedburner.com/sixminutestory/recent.rss"
- else
  - @rss_url = "http://feeds.feedburner.com/sixminutestory" + request.path + ".rss"
.row-fluid
  .span12
    %h1= @title
    = render :partial => "layouts/browsing"
.row-fluid
  - if @stories.any?
    .span8
      = render @stories #, :spacer_template => "story_ad"
      = render :partial => 'pagination'

  - else
    .span12
      %h1
        Erm...
      #no_stories
        %p
          No stories meet that criteria.
          = link_to "Write your own", write_url


/ - content_for :sideyard do
/   - if @frontpage
/     - unless is_user
/       #elevator_pitch
/         /
/           <p>
/           Since current language must be <strong>concise, immediate and eloquent</strong>, I created <em>Six Minute Story</em> &amp;mdash; a user-driven, <a href="http://en.wikipedia.org/wiki/Micro_fiction" target="_blank">micro-fiction</a> application &amp;mdash; to provide an arena to practice <em>the art of the ad-lib</em>, the impromptu.

/           <strong>Six Minute Story</strong> is a crowd-driven,
/           <a href="http://en.wikipedia.org/wiki/Micro_fiction" target="_blank">flash-fiction</a>
/           <strong>experiment</strong>.
/           </p>
/           <p>
/           The goal is to fill <strong>the cities of the earth</strong> with eloquence. <haml:loud> link_to &amp;quot;read more&amp;quot;, faq_url </haml:loud>
/           </p>
/         %p
/           %strong Six Minute Story
/           is a growing collection of stories written in six minutes or less.
/         %p
/           = raw(rpx_popup( :link_text => "Joining", :app_name => "six-minute-story", :return_url => user_session_url, :unobtrusive => false ))
/           takes less than five seconds.
/       #show_story_toolbar.toolbar_container
/         %table
/           %tr
/             %td
/               .green.button_container
/                 = link_to "Learn more", faq_url
/             %td
/               .purple.button_container
/                 = raw(rpx_popup( :link_text => "Join", :app_name => "six-minute-story", :return_url => user_session_url, :unobtrusive => false ))
/   / end if frontpage conditional
/   - if !@frontpage or (is_user and @frontpage)
/     %h1 Participate
/     - if is_user
/       %h3 Write
/       %ul
/         %li= link_to "Suggest a prompt", suggest_prompts_url
/         %li= link_to "Choose a prompt to write to", prompts_url
/         %li= link_to "Write to a blank prompt", write_to_prompt_url(25)
/         %li= link_to "Random Prompt", random_prompt_url
/       %h3 Make friends
/       %ul
/         %li= link_to "Comment on a recent story", subset_stories_path(:subset => "recent")
/         %li= link_to "Comment on a random story", random_stories_url
/     - else
/       %p{:style => "font-size:.9em;"}
/         = raw(rpx_popup( :link_text => "Join", :app_name => "six-minute-story", :return_url => user_session_url, :unobtrusive => false ))
/         or #{raw(rpx_popup( :link_text => "login", :app_name => "six-minute-story", :return_url => user_session_url, :unobtrusive => false ))} to unlock 6MS (it's free and takes less than 5 seconds).
/       #show_story_toolbar.toolbar_container
/         %table
/           %tr
/             %td
/               .green.button_container
/                 = link_to "Learn more", faq_url
/             %td
/               .purple.button_container
/                 = raw(rpx_popup( :link_text => "Join / Login", :app_name => "six-minute-story", :return_url => user_session_url, :unobtrusive => false ))
/     %h3 Say hello
/     %ul
/       %li
/         %a{:href => "http://twitter.com/6minutestory"} Find us on Twitter
/       %li
/         %a{:href => "http://facebook.com/sixminutestory"} Or on Facebook
