- # This is for the RSS feed
- if request.path == "/"
  - @rss_url = "http://feeds.feedburner.com/sixminutestory/recent.rss"
- else
  - @rss_url = "http://feeds.feedburner.com/sixminutestory" + request.path + ".rss"
.row-fluid
  .span12
    %h1= @title
    = render :partial => "layouts/browsing"
.row-fluid
  - if @stories.any?
    .span8
      = render @stories #, :spacer_template => "story_ad"
      = render :partial => 'pagination'

  - else
    .span12
      %h1
        Erm...
      #no_stories
        %p
          No stories meet that criteria.
          = link_to "Write your own", write_url