<%
	# This is for the RSS feed
	if request.path == "/"
		@rss_url = "http://feeds.feedburner.com/sixminutestory/recent.rss"
	else
		@rss_url = "http://feeds.feedburner.com/sixminutestory" + request.path + ".rss"
	end
%>

<% content_for :sideyard do %>
		<div id="elevator_pitch">
			
			<!-- 
			<p>
			Since current language must be <strong>concise, immediate and eloquent</strong>, I created <em>Six Minute Story</em> &mdash; a user-driven, <a href="http://en.wikipedia.org/wiki/Micro_fiction" target="_blank">micro-fiction</a> application &mdash; to provide an arena to practice <em>the art of the ad-lib</em>, the impromptu.
		
					<strong>Six Minute Story</strong> is a crowd-driven, 
					<a href="http://en.wikipedia.org/wiki/Micro_fiction" target="_blank">flash-fiction</a> 
					<strong>experiment</strong>.
			</p>
			<p>
					The goal is to fill <strong>the cities of the earth</strong> with eloquence. <%= link_to "read more", faq_url %>
			</p>
			-->
			<p>
				<strong>Six Minute Story</strong> is a growing collection of stories written in six minutes or less. 
			</p>
			<p>
				Together, we're filling the world with ad-libbed eloquence.
			</p>
			<% if is_user %>
			<div class="green button_container">
				<%= link_to "Go Write", write_url %>
			</div>
			<% else %>
			<div class="green button_container">
				<%= link_to "Sign Up", register_url %>
			</div>

			<div class="purple button_container">
				<%= link_to "Sign in", login_url %>
			</div>
			<div class="clear space">
			</div>
			<% end %>
		</div>
			<h2>Connect</h2>
			<!-- List of things to add:  -->
			<% if is_user %>
				<p>
					<%= link_to "Suggest a Prompt", suggest_a_prompt_url %>
				</p>
			<% end %>
			<div>
			<p>
			<a href="http://www.twitter.com/6minutestory">
					<img 	src="http://twitter-badges.s3.amazonaws.com/follow_us-a.png" 
							alt="Follow Six Minute Story on Twitter" />
				</a>
			</p>
			<p>
				<a href="http://facebook.com/sixminutestory"><%= image_tag "facebook.png" %></a>
			</p>
			</div>
<% end %>

<% if !@stories.empty? %>

<h1><%= @title %></h1>

<span><%= 
		#rss_feed 
		%> 
	<%= render :partial => "layouts/browsing" %> </span>
<div id="show_stories">
	<% for story in @stories %>	
	
	
	<div id="indStoryFront" >
		<div id="title_bar" class="<%= cycle('indStory', 'indStoryAlternate') -%>">
		
		
			<% if story.title.present? %>
			<span class="title">
				<!-- Story title as a link in the listings -->
				<%= link_to h(story.title), read_story_url(story) %>
			</span>
			<% else %>
			<span>
				<!-- Story title as a link in the listings -->
				<%= link_to "Untitled Story", read_story_url(story)%>
			</span>

			<% end %>
			
				<span class="author">
				by <%= link_to h(story.user.login), profile_path(story.user) %>
				</span>
				<span style="font-size:.8em">
					:: <%= pluralize(story.counter, 'view') %>
				</span>
		</div>
		<div id="storyAndMeta">
			<div class="story">
				<% if @truncate %>
					<%= simple_format(sanitize(truncate(h(story.description), :length => 350, :omission => "...&nbsp;&nbsp;&nbsp;[" + link_to("Read&nbsp;more...", read_story_url(story))+ "]" ))) %>
				<% else %>
					<%= simple_format(sanitize(h(story.description))) %>
				<% end %>
			</div>
		
			<div class="meta">
				<span><%= link_to pluralize(story.comments_count, 'remark'), read_story_url(story, :anchor => "comments") %></span>
				<span>&nbsp;||&nbsp;</span>
				<span>
					<%= pluralize(story.rating, 'cheer', 'cheers') %>
				</span>
			
			</div>
			<% if is_admin %>
				<div class = "meta">
					<%= link_to 'Edit', edit_story_url(story) %>&nbsp;||&nbsp;<%= story.flagged %>&nbsp;flags	</div>
			<% end %>
		</div>
	</div>
	<% end %>

	<% # Stories count
	 %>	
		<%= 
		# page_entries_info @stories 
		%>

	<% #pagination
	%>
	<% unless @featured %>
		<%=  will_paginate @stories %>
	<% end %>	
<% else  %>
<% 
# else for if !@stories.empty? 
%>
	<h1>
		Erm...
	</h1>
	
	<div id="no_stories">
		<p>
			No stories await you here. Go <%= link_to "write your own", write_url %>.
		</p>
	</div>	
<% end %>

