<%
	# This is for the RSS feed
	if request.path == "/"
		@rss_url = "http://feeds.feedburner.com/sixminutestory/recent.rss"
	else
		@rss_url = "http://feeds.feedburner.com/sixminutestory" + request.path + ".rss"
	end
%>




<% if !@stories.empty? %>

<h1><%= @title %></h1>

<span><%= 
		#rss_feed 
		%> 
	<%= render :partial => "layouts/browsing" %> </span>
	
		<%= render :partial => 'story', :collection => @stories %>

<%= render :partial => 'pagination' %>


<% else  %>
<% 
# else for if !@stories.empty? 
%>
	<h1>
		Erm...
	</h1>
	
	<div id="no_stories">
		<p>
			No stories await you here. Go <%= link_to "write your own", write_url %>.
		</p>
	</div>	
<% end %>
<% content_for :sideyard do %>
	<%= render :partial => "layouts/facebook_box" -%>
<% end %>