<%
	# This is for the RSS feed
	if request.path == "/"
		@rss_url = "http://feeds.feedburner.com/sixminutestory/recent.rss"
	else
		@rss_url = "http://feeds.feedburner.com/sixminutestory" + request.path + ".rss"
	end
%>




<% if !@stories.empty? %>

<h1><%= @title %></h1>

<span><%= 
		#rss_feed 
		%> 
	<%= render :partial => "layouts/browsing" %> </span>
	
		<%= render :partial => 'story', :collection => @stories %>

<%= render :partial => 'pagination' %>


<% else  %>
<% 
# else for if !@stories.empty? 
%>

<span><%= render :partial => "layouts/browsing" %> </span>


	<h1>
		Erm...
	</h1>
	
	<div id="no_stories">
		<p>
			No stories meet that criteria. <%= link_to "Write your own", write_url %>.
		</p>
	</div>	
<% end %>

<% content_for :sideyard do %>
<% if @frontpage %>
	<% unless is_user %>

<div id="elevator_pitch">
	
	<!-- 
	<p>
	Since current language must be <strong>concise, immediate and eloquent</strong>, I created <em>Six Minute Story</em> &mdash; a user-driven, <a href="http://en.wikipedia.org/wiki/Micro_fiction" target="_blank">micro-fiction</a> application &mdash; to provide an arena to practice <em>the art of the ad-lib</em>, the impromptu.

			<strong>Six Minute Story</strong> is a crowd-driven, 
			<a href="http://en.wikipedia.org/wiki/Micro_fiction" target="_blank">flash-fiction</a> 
			<strong>experiment</strong>.
	</p>
	<p>
			The goal is to fill <strong>the cities of the earth</strong> with eloquence. <%= link_to "read more", faq_url %>
	</p>
	-->
	<p>
		<strong>Six Minute Story</strong> is a growing collection of stories written in six minutes or less. 
	</p>
	<p>
		<%= rpx_popup( :link_text => "Joining", :app_name => "six-minute-story", :return_url => user_session_url, :unobtrusive => false ) %> takes less than five seconds.
	</p>

</div>


		<div id="show_story_toolbar" class="toolbar_container">
			<table>
				<tr>
					<td>
						<div class="green button_container">
							<%= link_to "Learn more", faq_url %>
						</div>
					</td>
					<td>
						<div class="purple button_container">
							<%= rpx_popup( :link_text => "Join", :app_name => "six-minute-story", :return_url => user_session_url, :unobtrusive => false ) %>
						</div>
					</td>
				</tr>
			</table>
		</div>
	
	<% end %>

<% end %><!-- end if frontpage conditional -->

<% if !@frontpage or (is_user and @frontpage) %>
	<h1>Get Involved</h1>
		
		<% if is_user %>
		<h3>Write</h3>
			<ul>
				<li><%= link_to "Suggest a prompt", suggest_prompts_url %></li>
				<li><%= link_to "Choose a prompt to write to", prompts_url %></li>
				<li><%= link_to "Write to a blank prompt", write_to_prompt_url(25) %></li>
			</ul>
		<h3>Make friends</h3>
			<ul>
				<li><%= link_to "Comment on a recent story", subset_stories_path(:subset => "recent") %></li>
				<li><%= link_to "Comment on a random story", random_stories_url %></li>
			</ul>
		<% else %>

		<p style="font-size:.9em;">
			<%= rpx_popup( :link_text => "Join", :app_name => "six-minute-story", :return_url => user_session_url, :unobtrusive => false ) %> or <%= rpx_popup( :link_text => "login", :app_name => "six-minute-story", :return_url => user_session_url, :unobtrusive => false ) %> to unlock 6MS (it's free and takes less than 5 seconds).
		</p>
		<div id="show_story_toolbar" class="toolbar_container">
		<table>
			<tr>
				<td>
					<div class="green button_container">
						<%= link_to "Learn more", faq_url %>
					</div>
				</td>
				<td>
					<div class="purple button_container">
						<%= rpx_popup( :link_text => "Join / Login", :app_name => "six-minute-story", :return_url => user_session_url, :unobtrusive => false ) %>
					</div>
				</td>
			</tr>
		</table>
		</div>
		<% end %>
		
		<h3>Say hello</h3>
			<ul>
				<li><a href="http://twitter.com/6minutestory">Find us on Twitter</a></li>
				<li><a href="http://facebook.com/sixminutestory">Or on Facebook</a></li>
			</ul>
		<h3>Spread the word</h3>
			<ul>
				<li><script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
					<a href="http://twitter.com/share?url=http%3A%2F%2Fsixminutestory.com&amp;via=6minutestory" class="twitter-share-button">Tweet about 6MS</a>
				</li>
				<li><iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fsixminutestory.com&amp;layout=standard&amp;show_faces=true&amp;width=350&amp;action=recommend&amp;font=tahoma&amp;colorscheme=dark&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:350px; height:80px;" allowTransparency="true"></iframe></li>
			</ul>
<% end %>
<% end %>