<%
	# This is for the RSS feed
	if request.path == "/"
		@rss_url = "http://feeds.feedburner.com/sixminutestory/recent.rss"
	else
		@rss_url = "http://feeds.feedburner.com/sixminutestory" + request.path + ".rss"
	end
%>

<%= render :partial => "layouts/browsing" %>

<% if !@stories.empty? %>

<h1><%= @title %></h1>


	<%= 
	rss_feed 
	%>
<div id="show_stories">
	<% for story in @stories %>	
	
	
	<div id="indStoryFront" >
		<div id="title_bar" class="<%= cycle('indStory', 'indStoryAlternate') -%>">
		
		
			<% if story.title.present? %>
			<span class="title">
				<!-- Story title as a link in the listings -->
				<%= link_to h(story.title), read_story_url(story) %>
			</span>
			<% else %>
			<span>
				<!-- Story title as a link in the listings -->
				<%= link_to "Untitled Story", read_story_url(story)%>
			</span>

			<% end %>
			
				<span class="author">
				by <%= link_to h(story.user.login), profile_path(story.user) %>
				</span>
				<span style="font-size:.8em">
					:: <%= pluralize(story.counter, 'view') %>
				</span>
		</div>
		<div id="storyAndMeta">
			<div class="story">
				<% if @truncate %>
					<%= simple_format(sanitize(truncate(h(story.description), :length => 350, :omission => "...&nbsp;&nbsp;&nbsp;[" + link_to("Read&nbsp;more...", read_story_url(story))+ "]" ))) %>
				<% else %>
					<%= simple_format(sanitize(h(story.description))) %>
				<% end %>
			</div>
		
			<div class="meta">
				<span><%= link_to pluralize(story.comments_count, 'remark'), read_story_url(story, :anchor => "comments") %></span>
				<span>&nbsp;||&nbsp;</span>
				<span>
					<%= pluralize(story.rating, 'cheer', 'cheers') %>
				</span>
			
			</div>
			<% if is_admin %>
				<div class = "meta">
					<%= link_to 'Edit', edit_story_url(story) %>&nbsp;||&nbsp;<%= story.flagged %>&nbsp;flags	</div>
			<% end %>
		</div>
	</div>
	<% end %>

	<% # Stories count
	 %>	
		<%= 
		# page_entries_info @stories 
		%>

	<% #pagination
	%>
	<% unless @featured %>
		<%=  will_paginate @stories %>
	<% end %>	
<% else  %>
<% 
# else for if !@stories.empty? 
%>
	<h1>
		Erm...
	</h1>
	
	<div id="no_stories">
		<p>
			No stories await you here. Go <%= link_to "write your own", write_url %>.
		</p>
	</div>	
<% end %>

