.row-fluid.title
  .span6
    %h2 Write a story
  .span6
    %hr

#prompt_and_timer.d-none.row-fluid.content
  .span6
    #prompt_container.prompt_container
      = render :partial => "prompts/show_prompt"
  .span6.well
    #timer_container
      #timer_element
        6:10
        / the timer is held in the timer.js

#instructions.row-fluid.content
  .span6
    %h3 Instructions
    %ol
      %li
        When you click in the writing box, you get a prompt.
      %li
        Then you have
        %strong six minutes
        to write a story.
      %li Go!
  .span6.well
    %h4 Note:
    %p
      When the timer stops,
      %em you won't be able to type anymore
      so use the last seconds
      %strong wisely.
    %p
      %em Before submitting
      choose a
      %strong title
      and categorize and
      %strong license
      your story.

= form_for @story do |f|
  .row-fluid.content
    .span12
      #new_story_container.new_story_container
        - if @story.errors.any?
          #errorExplanation
            %h2 Your story hasn't been saved yet.
            %h3 Please check for errors below.
            %ul
              - @story.errors.each do |attribute, msg|
                %li= msg

        / Include the prompt so we can use it on the next page. Is this really necessary?
        = f.hidden_field :prompt_id, value: @prompt.id
        .row-fluid
          .span12
            = f.text_area :description, :rows => 15, :placeholder => "Type here to begin writing.", :style => "width:100%;", :'data-widearea' => "enable"
        %div
          %a#done_writing.hide.pull-right.btn.btn-large{:href => "#"} I'm done writing

  #story-saved.modal.hide.fade(data-backdrop="false")
    .modal-header
      %h3 Well done!
      %h4 Complete these details to publish your story:
    .modal-body
      %table
        %tr
          %th
            - if @story.errors[:title].present?
              %label= @story.errors[:title]
            - else
              = f.label :title
          %td
            = f.text_field :title
        %tr
          %th
            = f.label :tag_list, "Adjectives"
            %br
            %span{:style => "font-size:x-small"} separate adjectives with commas
          %td
            = f.text_field :tag_list
        %tr
          %th
            = f.label :genre_list, "Genres"
            %br
            %span{:style => "font-size:x-small"} separate genres with commas
          %td
            = f.text_field :genre_list
        %tr
          %th
            = f.label :license
          %td
            = f.select :license, options_for_select(Story::CC_OPTIONS)#, :name => "story[license]"
    .modal-footer
      = link_to "Eh, toss this story",random_prompt_url, confirm: "Are you sure you want to abandon this story?", :class =>"btn btn-danger"
      = f.submit "Publish your story", :class => "btn btn-success btn-large "
