<% content_for :pagename do %>
 	<%= h(@story.title) %>
<% end %>



<% content_for :sideyard do %>
	<% if @frontpage %>
	<% unless is_user %>

	<div id="elevator_pitch">
		
		<!-- 
		<p>
		Since current language must be <strong>concise, immediate and eloquent</strong>, I created <em>Six Minute Story</em> &mdash; a user-driven, <a href="http://en.wikipedia.org/wiki/Micro_fiction" target="_blank">micro-fiction</a> application &mdash; to provide an arena to practice <em>the art of the ad-lib</em>, the impromptu.
	
				<strong>Six Minute Story</strong> is a crowd-driven, 
				<a href="http://en.wikipedia.org/wiki/Micro_fiction" target="_blank">flash-fiction</a> 
				<strong>experiment</strong>.
		</p>
		<p>
				The goal is to fill <strong>the cities of the earth</strong> with eloquence. <%= link_to "read more", faq_url %>
		</p>
		-->
		<p>
			<strong>Six Minute Story</strong> is a growing collection of stories written in six minutes or less. 
		</p>
		<p>
			<%= rpx_popup( :link_text => "Joining", :app_name => "six-minute-story", :return_url => user_session_url, :unobtrusive => false ) %> takes less than five seconds.
		</p>
	
	</div>
			<div id="show_story_toolbar" class="toolbar_container">
				<table>
					<tr>
						<td>
							<div class="green button_container">
								<%= link_to "Learn more", faq_url %>
							</div>
						</td>
						<td>
							<div class="purple button_container">
								<%= link_to "Join", new_user_url %>
							</div>
						</td>
					</tr>
				</table>
			</div>
		<% end %>
		
		

	<% end %><!-- end if frontpage conditional -->
<h2>Browse <%= @featured ? "featured" : "stories" %></h2>
	<div id="toolbar">
		<%= render :partial => "toolbar", :locals => { :story => @story } %>
	</div>
	<% unless @frontpage %>
		<%= render :partial => "site/profile_block" %>
	<% end %>
		<div class="clear space"></div>
		
		<!-- ADMIN SECTION -->
		
		<% if is_admin %>

				<% if @story.featured == true %>
				<div id="unfollowing_button" class="button_container">
				<%= link_to "Unfeature", unfeature_story_url(@story), 
				:confirm => 'Are you sure you want to unfeature this story? The story will no longer be featured!', 
				:method => :delete %>
				</div>
				<% elsif @story.featured == false %>
				<div id="following_button" class="button_container">
				<%= link_to "Feature", feature_story_url(@story), 
				:confirm => 'Are you sure you want to feature this story? The story will become featured!'
				%>
				</div>

			<% end %>
			<div id="following_button" class="brown button_container">
				<%= link_to "Edit Details", edit_story_url(@story) %>
			</div>
		<% end %>
		<h2>The prompt for this story</h2>
			<%= show_prompt %>
		<div class="clear"></div>
		
			<% if is_user %>
			<h2>Connect</h2>
			<!-- List of things to add:  -->

				<p>
					<%= link_to "Suggest a Prompt", suggest_a_prompt_url %>
				</p>
			<% end %>
		
<% end %>



<% unless @frontpage %>
 <h1><%= @featured ? "featured story" : "" %></h1>
<% end %>
<%= render :partial => "layouts/browsing" %>
	
			
		<%= render :partial => "stories/story", :locals => {:story => @story} -%>
<footer>
	<div id="show_story">
	<div id="information_container">
		<div>
			<table>
				<tr>
					<td class="border_right">
					<span class="label">license</span>

						<br />
						<p class="value">
							 <%=h @story.license %>
						</p>
					</td>
					<td class="border_right">
					<span class="label">genres</span>

						<br />
						<p class="value">	
							<% @story.genres.each do |genre| -%>
					   			<%= link_to h(genre.name), genre_url(h(genre.name)) %>
							<% end -%>
						</p>
					</td>
					<td class="border_right">
					<span class="label">tags</span>

						<br />
						<p class="value">	
							<% @story.tags.each do |tag| -%>
					   			<%= link_to h(tag.name), tag_url(h(tag.name)) %>
							<% end -%>
						</p>
					</td>
				</tr>
			</table>
		</div>
	</div>


</div>

<% if is_user %>
<h1>respond</h1>

<% end %>

<div id="respond_emotions">
	<%= render :partial => 'emotions' %>
</div>

<article id="favoriters" class="comment_container">
	<%= render :partial => 'favoriters' %>
</article>


<div id="comments">
<h1>remarks</h1>
	<% if @story.comments.present? %>
			<%= render :partial => "comments/comment", :collection => @story.comments %>
	<% end %>
</div>
<% if current_user %>

	<div id="comment_form">

		<%= form_for :comment, :url => comments_path, :remote => true, :html => { :id => 'comments_form' } do |f| %>
  			<%= f.hidden_field :user_id, :value => current_user.id %>
  			<%= f.hidden_field :story_id, :value => @story.id %>  			
			<div class="comment_field_container">
				
					<%= f.text_area :comment, :rows => 3, :cols => 55 %>

	    			<div id="comment_submit_container" class="center">
						<%= submit_tag "Contribute", :name => "contribute", :id => "contribute-button", :disabled => false %>

					</div>
				
		  	</div>

			
	
		<% end %>
	</div>

<% else %>


	<div id="signin_or_register">
		<%= rpx_popup( :link_text => "Login", :app_name => "six-minute-story", :return_url => user_session_url, :unobtrusive => false ) %>
		or
		<%= rpx_popup( :link_text => "Join", :app_name => "six-minute-story", :return_url => user_session_url, :unobtrusive => false ) %> 
		to remark.
	</div>

<% end %> 
</footer>

