<% content_for :pagename do %>
	<%=h ":: " + @story.title %>
<% end %>

<%= @controller_name %>
<div id="show_story">
 <h1>read</h1>

	<div id="title"> 
		
		<h2 class="story_title">
			<%=h @story.title %>
		</h2>
				
		<h3 class="attribution">
			by <%= link_to @story.user.login, profile_path(@story.user.login)  %> 
			<%=h time_ago_in_words(@story.created_at) %> ago
		</h3>
		
	</div>	

		
		<div class="description">
			
			<!-- Here's the story -->
			<%= simple_format(sanitize(h(@story.description))) %>
				
				
				<!-- This is how people flag stories -->
							
				<% if is_user %>
					<% form_tag(flag_story_path, :method => "post") do -%>

					<%= hidden_field_tag 'story', @story.id %>
					<%= image_submit_tag 'flag.png', 
						:name => "flag", 
						:id => "flag-button", 
						:disabled => false %>

		  			<% end -%>	
				<% end -%>
				
				
				
		</div>


	<div id="information_container">
		<div>
			<table>
				<tr>
					<td class="border_right">
					<span class="label">license</span>

						<br />
						<p class="value">
							 <%=h @story.license %>
						</p>
					</td>

					<td class="border_right">
					<span class="label">tags</span>

						<br />
						<p class="value">	
							<% @story.tags.each do |tag| -%>
					   			<%= link_to h(tag.name), tag_url(h(tag.name)) %>
							<% end -%>
						</p>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<%=
	 render :partial => "toolbar", :locals => { :story => @story } 
	%>


</div>

<%= render :partial => "comments/comments" %>







