- content_for :pagename do
  = h(@story.title)

- if is_admin
  .row-fluid.spacer
    / ADMIN SECTION

    .span4.offset2
      - if @story.featured == true
        #unfollowing_button
          = link_to "Unfeature", unfeature_story_url(@story), class: "btn span12 btn-danger btn-superlarge",
            :confirm => 'Are you sure you want to unfeature this story? The story will no longer be featured!', :method => :post
      - elsif @story.featured == false
        #following_button.button_container
          = link_to "Feature", feature_story_url(@story), class: "btn span12 btn-warning btn-superlarge",
            :confirm => 'Are you sure you want to feature this story? The story will become featured!', :method => :post
    .span4
      = link_to "Edit Details", edit_story_url(@story), class: "btn span12 btn-success btn-superlarge"
.row-fluid
  .span1
    .row-fluid
      = link_to story_url(@previous), class: "span12 btn btn-large increment-story increment-story-left" do
        %i.icon-caret-left.icon-large
    .row-fluid
      = link_to random_stories_url, class: "span12 btn btn-large increment-story increment-story-random" do
        %i.icon-random.icon-large

  .span10
    = render :partial => "stories/story", :locals => {:story => @story}

  = link_to story_url(@next), class: "span1 btn btn-large increment-story" do
    %i.icon-caret-right.icon-large

#post_story.row-fluid.content
  .span6
    %h3 Comments
    = render :partial => "comment_section"

  .span6
    .well
      = render :partial => "site/profile_block"
    #favoriters
      = render :partial => "favoriters"

    %h3 Story information

    %span license
    %p
      = @story.license
    - if @story.genres.any?
      %span genres
      %p
        - @story.genres.each do |genre|
          = link_to h(genre.name), subset_stories_url(:tag => genre.name, :subset => "genre", :months => 100)
    - if @story.tags.any?
      %p
        %i.icon-tags
        %span
          - @story.tags.each do |tag|
            = link_to h(tag.name), subset_stories_url(:tag => tag.name, :subset => "adjective", :months => 100)




    #prompt.hide
      %h3 The prompt for this story
      = render :partial => "prompts/show_prompt"
      = render :partial => "votes/prompt_vote", :object => @story.prompt, :as => :prompt
      .space

