<% content_for :pagename do %>
  <%= @story.title %>
<% end %>

<% content_for :head do %>
  <meta name="title" content="<%= @story.title %>">
  <meta name="description" content="<%= @story.truncated_description %>">
  <meta name="keywords" content="<%= @story.joined_tags %>">
  <meta name="author" content="<%= @story.user.login %>">

  <!--  Essential META Tags -->

  <meta property="og:title" content="<%= @story.title %>">
  <meta property="og:description" content="<%= @story.truncated_description %>">
  <%- if @story.prompt.kind == 'image' %>
    <meta property="og:image" content="<%= @story.prompt.refcode %>">
  <%- end %>
  <meta property="og:url" content="<%= url_for(@story) %>">
  <meta name="twitter:card" content="summary_large_image">


  <!--  Non-Essential, But Recommended -->

  <meta property="og:site_name" content="Six Minute Story">
  <meta name="twitter:image:alt" content="">


  <!--  Non-Essential, But Required for Analytics -->

  <!-- <meta property="fb:app_id" content="your_app_id" /> -->
  <meta name="twitter:site" content="@6minutestory">
<% end %>

<%- if is_admin %>
  <div class="row">
    <%- if @story.featured == true %>
      <div id="unfollowing_button" class="button_container">
        <%= button_to "Unfeature", unfeature_story_url(@story), class: "btn btn-danger btn-sm mr-3 mb-3", form_class: "d-inline-block", 
              :confirm => 'Are you sure you want to unfeature this story? The story will no longer be featured!', :method => :post %>
      </div>
    <%- elsif @story.featured == false %>
      <div id="following_button" class="button_container">
        <%= button_to "Feature", feature_story_url(@story), class: "btn btn-primary btn-sm mr-3 mb-3", form_class: "d-inline-block", 
              :confirm => 'Are you sure you want to feature this story? The story will become featured!', :method => :post %>
      </div>
    <%- end %>
    <%= link_to "Edit Details", edit_story_url(@story), class: "btn btn-warning btn-sm mb-3" %>
  </div>
<% end %>

<div class="row">
  <div class="col-1">
    <div class="row">
      <%= link_to story_url(@previous), class: "col-12 btn btn-large border increment-story increment-story-left" do %>
        <i class="icon-caret-left icon-large"></i>
      <% end %>
    </div>
    <div class="row">
      <%= link_to random_stories_url, class: "col-12 border border-top-0 btn btn-large increment-story increment-story-random" do %>
        <i class="icon-random icon-large"></i>
      <% end %>
    </div>
  </div>
  <div class="col-10">
    <%= render :partial => "stories/story", :locals => {:story => @story} %>
  </div>
  <% if @next %>
    <%= link_to story_url(@next), class: "col-1 btn btn-large border increment-story" do %>
      <i class="icon-caret-right icon-large"></i>
    <% end %>
  <% end %>
</div>
<div class="row m-2 mt-5 d-flex justify-content-between mb-4">
  <div class="flex-fill col-12 col-md-6">
    <div class="card">
      <h3 class="card-header bg-danger text-white">Comments</h3>
      <%= render :partial => "comment_section" %>
    </div>
  </div>
  <div class="flex-fill col-12 col-md-6">
    <%= render :partial => "site/profile_block", locals: { user: @story.user} %>
    <div class="card mb-3" id="favoriters">
      <%= render :partial => "favoriters" %>
    </div>
    <div class="card mb-3">
      <h3 class="card-header bg-light">Story information   </h3>
      <div class="card-content p-3">
        <h6>License</h6>
        <p>
          <%= @story.license %>
        </p>
        <% if @story.genres.any? %>
          <h6>genres</h6>
          <p>
            <% @story.genres.each do |genre| %>
              <%= link_to h(genre.name), subset_stories_url(:tag => genre.name, :subset => "genre", :months => 1200) %>
            <% end %>
          </p>
        <% end %>
        <% if @story.tags.any? %>
          <h6>tags</h6>
          <p>
            <% @story.tags.each do |tag| %>
              <%= link_to h(tag.name), subset_stories_url(:tag => tag.name, :subset => "adjective", :months => 1200) %>
            <% end %>
          </p>
        <% end %>
      </div>
    </div>
    <div class="card" id="prompt">
      <h3 class="card-header bg-light">Prompt</h3>
      <div class="card-content p-3">
        <%= render :partial => "prompts/show_prompt" %>
      </div>
      <div class="card-footer">
        <%= render :partial => "votes/prompt_vote", :object => @story.prompt, :as => :prompt %>
      </div>
    </div>
  </div>
</div>