<% content_for :pagename do %>
  <%= @story.title %>
<% end %>
<div class="row-fluid title">
  <div class="span7">
    <h2 class="story-title">
      <%= (@story.title.present? ? @story.title : "Untitled Story") %>
    </h2>
  </div>
  <div class="span5">
    <hr/>
  </div>
</div>
<div class="row-fluid story-container">
  <div class="span1">
    <div class="row-fluid">
      <%= link_to story_url(@previous), class: "span12 btn btn-large increment-story increment-story-left" do %>
        <i class="icon-caret-left icon-large"></i>
      <% end %>
    </div>
    <div class="row-fluid">
      <%= link_to random_stories_url, class: "span12 btn btn-large increment-story increment-story-random" do %>
        <i class="icon-random icon-large"></i>
      <% end %>
    </div>
  </div>
  <div class="span10">
    <%= render :partial => "stories/story", :locals => {:story => @story} %>
  </div>
  <% if @next %>
    <%= link_to story_url(@next), class: "span1 btn btn-large increment-story" do %>
      <i class="icon-caret-right icon-large"></i>
    <% end %>
  <% end %>
</div>
<div class="row-fluid content" id="post_story">
  <div class="span6">
    <h3>Comments</h3>
    <%= render :partial => "comment_section" %>
  </div>
  <div class="span5 offset1">
    <div class="well">
      <%= render :partial => "site/profile_block" %>
    </div>
    <div class="well" id="favoriters">
      <%= render :partial => "favoriters" %>
    </div>
    <div class="well">
      <h3>Story information   </h3>
      <h6>license</h6>
      <p>
        <%= @story.license %>
      </p>
      <% if @story.genres.any? %>
        <h6>genres</h6>
        <p>
          <% @story.genres.each do |genre| %>
            <%= link_to h(genre.name), subset_stories_url(:tag => genre.name, :subset => "genre", :months => 100) %>
          <% end %>
        </p>
      <% end %>
      <% if @story.tags.any? %>
        <h6>tags</h6>
        <p>
          <% @story.tags.each do |tag| %>
            <%= link_to h(tag.name), subset_stories_url(:tag => tag.name, :subset => "adjective", :months => 100) %>
          <% end %>
        </p>
      <% end %>
    </div>
  </div>
</div>

<%- if is_admin %>
  <div class="row-fluid spacer">
    <div class="span4 offset2">
      <%- if @story.featured == true %>
        <div id="unfollowing_button">
          <%= button_to "Unfeature", unfeature_story_url(@story), class: "btn span12 btn-danger btn-superlarge",
                :confirm => 'Are you sure you want to unfeature this story? The story will no longer be featured!', :method => :post %>
        </div>
      <%- elsif @story.featured == false %>
        <div id="following_button" class="button_container">
          <%= button_to "Feature", feature_story_url(@story), class: "btn span12 btn-primary btn-superlarge",
                :confirm => 'Are you sure you want to feature this story? The story will become featured!', :method => :post %>
        </div>
        <div class="span4">
          <%= link_to "Edit Details", edit_story_url(@story), class: "btn span12 btn-superlarge" %>
        </div>
      <%- end %>
    </div>
  </div>
<% end %>

<div id="prompt">
  <h3>The prompt for this story</h3>
  <%= render :partial => "prompts/show_prompt" %>
  <%= render :partial => "votes/prompt_vote", :object => @story.prompt, :as => :prompt %>
  <div class="space"></div>
</div>
