<% content_for :pagename do %>
	– <%= h(@story.title) %>
<% end %>

<% content_for :sideyard do %>
	<h2>More about the Prompt</h2>
		<%= show_prompt %>
<% end %>


 <h1>Thanks!</h1>
	<div id="thanks_for_writing">

	
<%= render :partial => 'share_in_story' %>

	<div id="thanks">
	<p> 
		Your story has been posted. 
	</p>
	<p>	
		<%= link_to "View it here.", read_story_url(@story) %> 
	</p>
	<p>
		Take a moment to share your story now. It’s a tangible contribution to the happiness of your loved ones. 
	</p>
	<p>	
		It’s art. It’s a masterpiece. They’ll adore you for it. 
	</p>
	<p>	
		Yeah, no promises there.
	</p>	
	<p>
		Since we were rushing you, you likely didn’t have much time to contemplate the prompt. So, because you worked so hard, we’re letting you have another look. 
	</p>
	<p>	
		No timers. Stay as long as you like. If you like what you see, share it with your friends.
	</p>
	</div>
	</div>

	
	<div class="clear space"></div>
	
	<h4>Other stories for this prompt</h4>
	<%= render :partial => 'stories/story', :collection => @stories %>
		
		








