- content_for :pagename do
  – #{h(@story.title)}
- content_for :sideyard do
  %h2.text-center About the Prompt
  .card
    .card-body.text-center
      = render :partial => "prompts/show_prompt"
      .mt-4
        %h3.text-center Vote on this prompt
        .text-center
          = render :partial => "votes/prompt_vote", :object => @prompt, :as => :prompt
.jumbotron.py-4
  .row.title
    .col-md-12
      %h2
        Thanks!
        Your story has been posted.
        = link_to story_url(@story), class: "btn btn-primary btn-large" do
          %span View it Now
          %i.icon-circle-arrow-right
        
  
  .row-fluid.d-flex.justify-content-between.flex-wrap
    .flex-fill.card.shadow-sm.m-1
      .card-header 
        %h5.my-1 Share to get feedback
      .card-body.p-3
        = render :partial => 'share_in_story'
.row
  .col-md-6.my-3
    %h2 More stories from this prompt 
.row
  .col-md-12
    = render :partial => 'stories/story', :collection => @stories
