<% content_for :pagename do %>
	– <%= h(@story.title) %>
<% end %>

<% content_for :sideyard do %>
	<h2>More about the Prompt</h2>
		<%= show_prompt %>
	<h3>Vote on this prompt</h3>
		<div class="center">
			<%= render :partial => "votes/prompt_vote", :object => @prompt, :as => :prompt %>
		</div>
<% end %>


 
	<article id="thanks_for_writing">
	<h1>Thanks!</h1>
	<p> 
		Your story has been posted. <%= link_to "View it here.", story_url(@story) %> 
	</p>
	
	<h2>What's next?</h2>
	<p><strong>There are a few things you can do.</strong></p>
	<p>First, vote on this prompt, over to the right.</p>
	<p>Then, scroll down to read some other stories written to this prompt. Remark on the stories, and ask the authors to remark on yours.</p> 
	<p>Another quick way to get feedback is to share your story and ask people to leave comments.
	<div class="center"><%= render :partial => 'share_in_story' %></div>
	</p>
	<p>We love hearing from you, so please say "Hi!" to us on <a href="http://twitter.com/6minutestory">Twitter</a> and <a href="http://facebook.com/sixminutestory">Facebook</a>, or leave feedback on our <a href="http://sixminutestory.uservoice.com">feedback forum</a>. Thanks and we look forward to meeting you.</p>
	</article>

	
	<div class="clear space"></div>
	
	<h1>Other stories for this prompt</h1>
	<%= render :partial => 'stories/story', :collection => @stories %>
		
		








