<h2>
		<%=h @user.login %>
		
</h2>

	<% if is_user && current_user.id == @user.id %>
		<span class="small_text">
			<%= link_to "manage profile", edit_account_path %>
		</span>
	<% elsif is_user && current_user.id != @user.id %>
		<%= render :partial => 'site/following_toggle', :locals => {:user => @user} %>
	
	<% end %>

<div class="information">
	<table>
	<% if is_admin %>
		<tr>
			<th>
				contact
			</th>
			<td>
				<span>
					 <%=h @user.email_address %>
				</span>
			</td>
		</tr>
	<% end %>
		<tr>
			<th>
				joined
			</th>
			<td>
				<span>
					<%= time_ago_in_words(h(@user.created_at)) %> ago
				</span>
			</td>
		</tr>
		<tr>
		
			<th>
	  		stories
			</th>
			<td>
				<span>
					<%= link_to h(@user.stories.count :conditions => {:active => true}), profile_url(@user.login) %> (<%= link_to "view more", profile_url(@user.login)%>)
				</span>
			</td>
		</tr>
		<tr>
			<th>
			profile
			</th>
			<td>
				<%= auto_link(simple_format(h(@user.profile))) %>
				
			</td>
		</tr>
	</table>
</div>