<%
is_admin ? @colspan = 2 : @colspan = 1
%>
<div class="information">
	<table>
		<tr>
		<% if is_admin %>

			<td class="border_right">
				<span class="label">contact</span>
				
				<span class="value">
					 <%=h @user.email_address %>
				</span>
			</td>
		<% end %>
			
			<td>
				<span class="label">joined</span>
				<span class="value">
					<%= time_ago_in_words(@user.created_at) %> ago
				</span>
			</td>
		<tr>
		
			<td colspan="<%= @colspan%>">
	  		<span class="label">stories</span>
				
				<span class="value">
					<%=h @user.stories.count :conditions => {:active => true} %>
				</span>
			</td>
		</tr>
		<tr>
			<td colspan="<%= @colspan%>">
			<span class="label">profile</span>
				
				
				<div class="description">
						<%= @user.profile %>
				</div>
			</td>
		</tr>
	</table>
</div>