.row-fluid
  %h3.span9
    = @story.user.login
  %h3.span3
    - if is_user && (current_user.id == @story.user.id)
      %small
        = link_to edit_account_path, class: "btn" do
          %i.icon-cog
    - elsif is_user && current_user.id != @story.user.id
      = render :partial => 'site/following_toggle', :locals => {:user => @story.user}

.row-fluid.information
  .span3
    - if @story.user.followers.any?
      %p
        %i.icon-group{title: 'Followers'}
        %span
          = @story.user.followers.count

  .span3
    %i.icon-thumbs-up{title: 'Reputation'}
    %span
      = @story.user.karma
  .span3
    %i.icon-pencil{title: 'Read Stories'}
    %span
      = link_to @story.user.stories.where(active: true).count, profile_path(@story.user)
  - if @story.user.website.present?
    .span3
      %i.icon-globe
      %span
        = link_to @story.user.website, :title => @story.user.website, :rel => 'nofollow' do
          Website
  - if @story.user.profile.present?
    .row-fluid
      .span12.profile
        %h6
          Profile
        %p
          = auto_link(simple_format(@story.user.profile))