<h3>
		<%=h @story.user.login %>
	
</h3>

	<% if is_user && current_user.id == @story.user.id %>
		<span class="small_text">
			<%= link_to "manage profile", edit_account_path %>
		</span>
	<% elsif is_user && current_user.id != @story.user.id %>
		<%= render :partial => 'site/following_toggle', :locals => {:user => @story.user} %>
	
	<% end %>

<div class="information">
	<table>
	<% if is_admin %>
		<tr>
			<th>
				contact
			</th>
			<td>
				<span>
					 <%	if @story.user.email_address.present? %> 
						<%=h @story.user.email_address %>
					<% end %>
					
				</span>
			</td>
		</tr>
	<% end %>
		<tr>
			<th>
				joined
			</th>
			<td>
				<span>
					<%= time_ago_in_words(@story.user.created_at) %> ago
				</span>
			</td>
		</tr>
		<tr>
			<th>
				reputation
			</th>
			<td>
				<span>
					<%= @story.user.karma %>
				</span>
			</td>
		</tr>
		<tr>
		
			<th>
	  		stories
			</th>
			<td>
				<span>
					<%= link_to @story.user.stories.where(:active => true).count, profile_path(@story.user) %> (<%= link_to "view more", profile_path(@story.user)%>)
				</span>
			</td>
		</tr>
		<tr>
		
			<th>
	  		website
			</th>
			<td>
				<span>
					<%= link_to "Visit website", @story.user.website, :title => @story.user.website, :rel => 'nofollow' %>
				</span>
			</td>
		</tr>
		<tr>
			<th>
			profile
			</th>
			<td>
				<%= auto_link(simple_format(@story.user.profile)) %>
				
			</td>
		</tr>
	</table>
</div>
