.card.mb-3
  %h3.card-header
    = user.login
    %small.text-muted 
      (joined
      = time_ago_in_words(user.created_at)
      ago)
    %br  
    - if is_user && (current_user.id == user.id)
      %small
        = link_to edit_account_path, class: "btn btn-dark btn-sm" do
          %i.icon-cog
    - elsif is_user && current_user.id != user.id
      %small
        = render :partial => 'site/following_toggle', :locals => {:user => user}
    - if user.website.present?
      %small
        = link_to user.website, :title => user.website, :rel => 'nofollow', class: "btn btn-info btn-sm" do
          %i.icon-globe
          %span Visit Website

  .card-content
    - if user.profile.present?
      %div.p-3
        = auto_link(simple_format(user.profile))
  .card-footer.row-fluid.d-flex.justify-content-between.text-center
    .col-4.flex-fill
      %span
        %i.icon-group{title: 'Followers'}
        %span
          - if user.followers.any?
            = user.followers.count
          - else
            0

    .col-4.flex-fill
      %i.icon-thumbs-up{title: 'Reputation'}
      %span
        = user.karma
    .col-4.flex-fill
      %i.icon-pencil{title: 'Read Stories'}
      %span
        = link_to user.stories.where(active: true).count, profile_path(user)