<div class="information">
	<table>
		<tr>
			<td class="border_right">
			<span class="label">contact</span>
				
				
				<span class="value">
					 <%=h @user.email_address %>
				</span>
			</td>
			<td>
				<span class="label">joined</span>
				<span class="value">
					<%=h time_ago_in_words(@user.created_at) %> ago
				</span>
			</td>
		<tr>
			<td class="border_right">
			<span class="label">website</span>


			<span class="value">

				<%= link_to truncate(h(@user.website),:length => 30), @user.website  %>
			</span>
			</td>

			<td>
	  		<span class="label">stories</span>
				
				<span class="value">
					<%=h @user.stories.count :conditions => {:active => true} %>
				</span>
			</td>
		</tr>
		<tr>
			<td colspan=2>
			<span class="label">profile</span>
				
				
				<div class="description">
						<%= @user.profile %>
				</div>
			</td>
		</tr>
	</table>
</div>