<%
	# This is for the RSS feed
	@rss_url = "http://feeds.feedburner.com/sixminutestory/featured"
%>
	<%= render :partial => "layouts/browsing" %>
<div id="show_stories">

<% if !@stories.empty? %>
<h1>featured</h1>
<%= rss_feed %>

	<% for story in @stories %>	
	<div id="indStory" >
		<div id="title_bar" class="<%= cycle('indStory', 'indStoryAlternate') -%>">
		
		
			<% if story.title.present? %>
			<span class="title">
				<!-- Story title as a link in the listings -->
				<%= link_to h(story.title), story_url(story) %>
			</span>
			<% else %>
			<span>
				<!-- Story title as a link in the listings -->
				<%= link_to "Untitled Story", story_url(story)%>
			</span>

			<% end %>
			
				<span class="author">
				by <%= link_to h(story.user.login), profile_path(story.user) %>
				</span>
		</div>
		<div id="storyAndMeta">
			<div class="story">
				<%= simple_format(sanitize(h(story.description))) %>
			</div>
		
			<div class="meta">
				<span><%= link_to pluralize(story.comments_count, 'remark'), story_url(story, :anchor => "comments") %></span>
				<span>&nbsp;||&nbsp;</span>
				<span>
					<%= pluralize(story.votes_for, 'cheer', 'cheers') %>
				</span>
			
			</div>
			<% if is_admin %>
				<div class = "meta">
					<%= link_to 'Edit', edit_story_url(story) %>&nbsp;||&nbsp;<%= story.flagged %>&nbsp;flags	</div>
			<% end %>
		</div>
	</div>
	<% end %>

	<% # Stories count
	 %>	
		<%= 
		# page_entries_info @stories 
		%>

	<% #pagination
	%>
		<%=  will_paginate @stories %>

<% else  %>
<% 
# else for if !@stories.empty? 
%>
	<h1>
		Erm...
	</h1>
	
	<div id="no_stories">
		<p>
			No stories await you here. Go <%= link_to "write your own", write_url %>.
		</p>
	</div>	
<% end %>

