<div id="agree_with_comment_<%= comment.id %>">	
<% if current_user && comment.user_id != current_user.id %>
	
	<% 
		# You can't vote if it is your @comment, 
		# you are not logged in, 
		# or you have already voted on this item
	
	unless current_user.voted_for?(comment)
	%>
	 	<span class="button_container green">
			<%= link_to "<i class='icon-thumbs-up'></i>".html_safe, comment_votes_path(comment, :vote_direction => :up), 
				:method => :post, 
				:remote => true
			%>
		</span>	
	<% else %>	
		<i class="icon-thumbs-up"></i>
	<% end %>
<% end %>

	<span style="margin-left:15px;">
		<% if comment.votes.size > 0 %>
			<%= comment.votes_for > 0 ? comment.votes_for.to_s + " agreed." : "" %>
		<% end %>
		<% if current_user %>
		<% if current_user.voted_on?(comment) %>
			<% if current_user.voted_for?(comment) %>
				You agreed with <%= comment.user.login %>'s comment.
			<% elsif %>
				You disagreed with <%= comment.user.login %>'s comment.
			<% end %>
		<% end %>
		<% end %>
	</span>
</div>