<% @user == current_user ? name = "You have" : name = @user.login + " has" %>
	
<h1><%= name %> <%= @user.votes.count %> favorites</h1>

	<nav class="btn-group my-3">
			<a href="?order=popular" class="btn btn-primary">Popular</a>
			<a href="?order=most" class="btn btn-primary">Most</a>
			<a href="?order=recent" class="btn btn-primary">Recent</a>
			<a href="?order=earliest" class="btn btn-primary">Earliest</a>
	</nav>
			

<%= render :partial => "stories/story", :collection => @stories %>
<%= render :partial => "stories/pagination" %>

<%= render :partial => "site/profile_block", locals: {user: @user} %>