
<h1>Login</h1>

<div class="left_container">
	<div id="login">
		<%= rpx_embed( 
			:link_text => "Register/Sign in with RPX..", 
			:app_name => "six-minute-story", 
			:return_url => user_session_url) %>
	</div>
</div>
<% content_for :sideyard do %>
<div id="user_form">
<% form_for @user_session, :url => user_session_path do |f| %>


	<% if @user_session.errors.present? %>
	<div id="errorExplanation">    
		<span>
			Invalid username or password
	  	</span>
	</div>
	<% end %>
<table >
	<tr>
		<th>
				<%= f.label :login, "Email" %>
		</th>
		<td>
		  		<%= f.text_field :login %>
		</td>
	</tr>
	<tr>
		<td colspan=2>
			&nbsp;
		</td>
	</tr>
	
	<tr>
		<th>			
				<%= f.label :password %>
		</th>
		<td>
		  
				<%= f.password_field :password %>
		</td>
	</tr>
	<tr>
		<td colspan=2>
			&nbsp;
		</td>
	</tr>
	
	<tr>
		<tr>
		<td colspan=2>
			<div>
					<%= f.check_box :remember_me %>
					<%= f.label :remember_me, "Remember me" %><br /><br />

			</div>
		</td>
		</tr>
	<td colspan=2>
			
				<%= image_submit_tag("login.png", 
						:name => "login", 
						:id => "login-button", 
						:disabled => false) %>	 
	</td>
	</tr>
	<tr>
		<td colspan=2>
			&nbsp;
		</td>
	</tr>
	

	<tr>	
	<td colspan=2>
			<h5>
				Don't have an account? 
				<%= link_to "Sign up", register_path %>
			</h5>
	</td>
	</tr>
</table>
<% end %>
</div>
<% end %>
