<div class="add_story_form">
<% form_for @user_session, :url => user_session_path do |f| %>

	<h1>Login</h1>
	<% if @user_session.errors.present? %>
	<div id="errorExplanation">    
		<span>
			Invalid username or password
	  	</span>
	</div>
	<% end %>
<table >
	<tr>
		<td>
				<%= f.label :login, "Username or Email" %><br />
		  		<%= f.text_field :login %>
		</td>
		<td>
				
		</td>
		</tr>
		<tr>
			<td>
				<%= f.label :password %><br />
		  		<%= f.password_field :password %>
			</td>
		</tr>
		<tr>
			
		<td>	
				<span><%= f.check_box :remember_me %> Remember me</span>
				<br />
				<span>
					<%= image_submit_tag("login.png", 
						:name => "login", 
						:id => "login-button", 
						:disabled => false) %>	 
				</span>
				<br />
				<span>Don't have an account? 
				<%= link_to "Register", register_path %>
				</span>
		</td>
		<td>
						
			
		</td>
	</tr>
</table>
<% end %>
</div>