<nav>
	<ul>
		<li class="green button_container">
			<%= link_to "Featured", subset_stories_path(:subset => "featured") %>
		</li>
	
		<li class="brown button_container">
			<%= link_to "Favorited", subset_stories_path(:subset => "top") %>
		</li>
		<li class="brown button_container">
			<%= link_to "Recent", subset_stories_path(:subset => "recent") %> 
		</li>
		<li class="brown button_container">
			<%= link_to "Active", subset_stories_path(:subset => "active") %> 
		</li>

		<li class="brown button_container">
			<%= link_to "Popular", subset_stories_path(:subset => "popular") %>
		</li>

		<li class="brown button_container">
			<%= link_to "Adjectives", cloud_stories_path(:subset => "adjectives") %>
		</li>

		<li class="brown button_container">
			<%= link_to "Genres", cloud_stories_path(:subset => "genres") %>
		</li>
	</ul>
<% if params[:subset] or @frontpage %>
	<nav>
		<ul>
			<li class="purple button_container">
				<%= link_to "Today", :days => 1, :tag => params[:tag] %>
			</li>
			<li class="purple button_container">
				<%= link_to "Past week", :days => 7, :tag => params[:tag] %>
			</li>

			<li class="purple button_container">
				<%= link_to "Past month", :months => 1, :tag => params[:tag] %>
			</li>
			
			<li class="purple button_container">
				<%= link_to "3 months", :months => 3, :tag => params[:tag] %>
			</li>
			
			
			<li class="purple button_container">
				<%= link_to "6 months", :months => 6, :tag => params[:tag] %>
			</li>
			
			<li class="purple button_container">
				<%= link_to "Past year", :months => 12, :tag => params[:tag] %>
			</li>
			
			<li class="purple button_container">
				<%= link_to "All time", :months => 100, :tag => params[:tag] %>
			</li>
		</ul>
	</nav>
<% end %>
</nav>
