.col-md-8.offset-md-2.stories-list
  %nav.my-2.justify-content-center.nav.nav-justified.nav-pills.flex-column.flex-sm-row.btn-group
    = link_to "Featured", subset_stories_path(subset: "featured"), class: "nav-link nav-item flex-sm-fill text-sm-center btn btn-danger"
    = link_to "Favorited", subset_stories_path(subset: "top"), class: "nav-link nav-item flex-sm-fill text-sm-center btn btn-primary"
    = link_to "Recent", subset_stories_path(subset: "recent"), class: "nav-link nav-item flex-sm-fill text-sm-center btn btn-primary"
    = link_to "Active", subset_stories_path(subset: "active"), class: "nav-link nav-item flex-sm-fill text-sm-center btn btn-primary"
    = link_to "Popular", subset_stories_path(subset: "popular"), class: "nav-link nav-item flex-sm-fill text-sm-center btn btn-primary"
    = link_to "Random Story", random_stories_url, class: "nav-link nav-item flex-sm-fill text-sm-center btn btn-secondary"
    - if current_user
      = link_to "Write to Random Prompt", random_prompt_url, class: "nav-link nav-item flex-sm-fill text-sm-center btn btn-warning"
    - else
      = link_to "Write now!", write_url, class: "nav-link nav-item flex-sm-fill text-sm-center btn btn-warning"
  - if params[:subset] or @frontpage
    %nav.my-2.justify-content-center.nav.nav-justified.flex-column.flex-sm-row.btn-group
      = link_to "Today", {days: 1, tag: params[:tag]}, class: "nav-link nav-item flex-sm-fill text-sm-center btn btn-info"
      = link_to "Past week", {days: 7, tag: params[:tag]}, class: "nav-link nav-item flex-sm-fill text-sm-center btn btn-info"
      = link_to "Past month", {months: 1, tag: params[:tag]}, class: "nav-link nav-item flex-sm-fill text-sm-center btn btn-info"
      = link_to "3 months", {months: 3, tag: params[:tag]}, class: "nav-link nav-item flex-sm-fill text-sm-center btn btn-info"
      = link_to "6 months", {months: 6, tag: params[:tag]}, class: "nav-link nav-item flex-sm-fill text-sm-center btn btn-info"
      = link_to "Past year", {months: 12, tag: params[:tag]}, class: "nav-link nav-item flex-sm-fill text-sm-center btn btn-info"
      = link_to "All time", {months: 1200, tag: params[:tag]}, class: "nav-link nav-item flex-sm-fill text-sm-center btn btn-info"
