- if flash[:notice] || flash[:alert] || flash[:error] || flash[:update_password]
  %div.mt-3
    - if flash[:error] && flash[:error].present?
      .alert.alert-danger.col-8.offset-2.mb-0.shadow.border-danger.fade.show
        %a.close(data-dismiss="alert") ×
        %h3.alert-heading Hello, what's this?!
        - flash[:error].each do |name, msg|
          - Array(msg).uniq.each do |key, message|
            %p
              = "#{name.capitalize} #{key.to_s}"
      - flash[:error] = nil

    - if flash[:notice] && flash[:notice].present?
      .alert.alert-info.col-8.offset-2.mb-0.shadow.border-info.fade.show
        %a.close(data-dismiss="alert") ×
        %h3.alert-heading
          Just letting you know
        %p
          = flash[:notice]

      - flash[:notice] = nil

    - if flash[:alert] && flash[:alert].present?
      .alert.alert-warning.col-8.offset-2.mb-0.shadow.border-warning.fade.show
        %a.close(data-dismiss="alert") ×
        %h3.alert-heading
          Heads up:
        %p
          = flash[:alert]
      - flash[:alert] = nil