<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>The Sharearchy</title>
  <%= stylesheet_link_tag 'scaffold' %>
	<%= stylesheet_link_tag 'roundcorners' %>

</head>
<body>

	<div class=logo>
	<span id="logo"><%= image_tag "logo.png" %></span>
	</div>
	<div id="header_links">
	<% if !current_user %>
	  	<%= link_to "Register", new_account_path %> |
	  	<%= link_to "Log In", new_user_session_path %>
	| <%= pluralize User.logged_in.count, "user" %> currently logged in <!-- This based on last_request_at, if they were active < 10 minutes ago they are logged in -->
	<% else %>
		<%= link_to "Logout", logout_path, :confirm => "Are you sure you want to logout?" %> |
	  	<%= link_to "My Account", account_path %> |
		<%= link_to "Shares", shares_path %> |
		<%= link_to "New Share", new_share_path %>
	<% end %>
	
	</div>  
<!-- 
	</div>
  <b class="statusbar">
  <b class="statusbar5"></b>
  <b class="statusbar4"></b>
  <b class="statusbar3"></b>
  <b class="statusbar2"><b></b></b>
  <b class="statusbar1"><b></b></b></b>
</div>
-->