#login_container.dropdown.nav.pull-right
  %a.dropdown-toggle(data-toggle = "dropdown" href="#")
    %i.icon-user
    %i.icon-caret-down
  %ul.dropdown-menu(role = "menu" aria-labelledby = "dLabel")
    - if current_user
      %li
        = link_to account_path do
          %i.icon-picture{title: "Profile"}
          Profile
      / %li
      /   = link_to users_comments_url(current_user, "new") do
      /     %i.icon-envelope{title: "Inbox"}
      /     Inbox
      %li
        = link_to edit_account_path do
          %i.icon-cog{title: "Settings"}
          Settings
      %li
        = link_to logout_path do
          %i.icon-signout{title: "Logout"}
          Logout
    - else
      = form_for @user_session, :as => :user_session, :url => user_session_path, html: {class: "form-horizontal"} do |f|

        %p
          = f.text_field :login, placeholder: "Username"
        %p
          = f.password_field :password, placeholder: "Password"
        %p
          = f.submit "Login", class: "btn btn-block"
        %p
          = rpx_popup(:link_text => "Use OpenID/Twitter", :app_name => "six-minute-story", :return_url => user_session_url, :unobtrusive => false)
        %span
          = link_to "Join now!", new_user_url
    - if is_admin
      %li
        %hr
      %li
        = link_to "Users", users_url
  / Close Login Container
