
<div id="show_stories">

<% if !@stories.empty? %>

	<% for story in @stories %>	
	<div id="indStory" >
		<div id="title_bar" class="<%= cycle('indStory', 'indStoryAlternate') -%>">
		
		
			<% if story.title.present? %>
			<span class="title">
				<!-- Story title as a link in the listings -->
				<%= link_to h(story.title), story_url(story) %>
			</span>
			<% else %>
			<span>
				<!-- Story title as a link in the listings -->
				<%= link_to "Untitled Story", story_url(story)%>
			</span>

			<% end %>
			
				<span class="author">
				by <%= link_to h(story.user.login), profile_path(story.user) %>
				</span>
				
		</div>
		<div id="storyAndMeta">
			<div class="story">
				<% if @truncation %>
					<%= simple_format(sanitize(h(story.description))) %>
				<% else %>
					<%= simple_format(sanitize(truncate(h(story.description), :length => 300, :omission => " [" + link_to("Read more...", story_url(story)) +"] " ))) %>
				<% end %>
			</div>
		
			<div class="meta">
				<span><%= link_to pluralize(story.comments_count, 'remark'), story_url(story, :anchor => "comments") %></span>
				<span>&nbsp;||&nbsp;</span>
				<span>
					<%= pluralize(story.rating, 'favorite', 'favorites') %>
				</span>
			
			</div>
			<% if is_admin %>
				<div class = "meta">
					<%= link_to 'Edit', edit_story_url(story) %>&nbsp;||&nbsp;<%= story.flagged %>&nbsp;flags	</div>
			<% end %>
		</div>
	</div>
	<% end %>

	<% # Stories count
	 %>	
	<% if is_admin %>
		<%= 
		 page_entries_info @stories 
		%>
	<% end %>
	<% #pagination
	%>
		<%=  will_paginate @stories %>

<% else  %>
<% 
# else for if !@stories.empty? 
%>
	<h1>
		Erm...
	</h1>
	
	<div id="no_stories">
		<p>
			No stories await you here. Go 
			<% if @prompt.present? %>
				<%= link_to "write your own", write_to_prompt_url(@prompt) %>
			<% else %>	
				<%= link_to "write your own", write_url %>.
			<% end %>
		</p>
	</div>	
<% end %>

