<% 
# this is used to number the stories, so the javascript that 
# opens and closes the drawers knows what to move
@i = 1

# set colspan
is_admin ? @colspan = 6 : @colspan = 4
	
 %>
<div id="show_stories">

<% if !@stories.empty? %>

<%= render :partial => "layouts/browsing" %>

<table>
	<tr>
		<td colspan="<%= @colspan %>">
			<%= page_entries_info @stories %>
		</td>
	</tr>	
	
<% for story in @stories %>
<% 
@i = @i + 1 
#actually semi-important. used to identify entries.
%>

<tr class="<%= cycle('row_alternate', 'row') -%>">
	<% if is_admin %>
  		<td class="story_this_story">
			<%= link_to image_tag('edit.png'), edit_story_url(story) %>
		</td>
		<td>
			<% if is_admin %>
				<span>
				<%= story.flagged %> flags
				</span>
			<% end %>
		</td>
	<% end %>

	
	<td class="story_comments">
		<!-- number of comments -->
			<%= link_to story.comment_counter, 
				read_story_url(story,:anchor => "comments")
			%>
	</td>
	<td class="story_rating">	
		<span>
			<%= story.rating %>
		</span>
	</td>
	
	<td id="show_stories" class="author">
		<%= link_to h(story.user.login), profile_url(story.user.login) %>
	</td>
	
	<td id="show_stories" class="title">
		<% if story.title.present? %>
		<span>
			<!-- Story title as a link in the listings -->
			<%= link_to h(story.title), read_story_url(story) %>
		</span>
		<% else %>
		<span>
			<!-- Story title as a link in the listings -->
			<%= link_to "Untitled Story", read_story_url(story)%>
		</span>
		
		<% end %>
	</td>

</tr>


<% end %>
<tr>
	<td colspan="<%= @colspan %>">
		<%=  will_paginate @stories %>
		
	</td>
</tr>	
</table>

</div>


<% else  %>
<% # else for if !@stories.empty? %>
	<%= render :partial => "layouts/browsing" %>
	<h1>
		Erm...
	</h1>
	
	<div id="no_stories">
		<p>
			No stories await you here. Go <%= link_to "write your own", write_url %>.
		</p>
	</div>	
<% end %>
