<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= content_for?(:title) ? yield(:title) : "Six Minute Story" %>
    </title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements
    -->
    <!--[if lt IE 9]
    -->
    <meta name="description"/>
    <meta name="author"/>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= yield(:head) if content_for?(:head) %>
    <link href="https://fonts.googleapis.com/css?family=Literata|Lora|Montserrat:400,600&display=swap" rel="stylesheet">
    <%= render partial: "layouts/heap" %>
    <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=5dc2df8a1573800012d15b41&product=inline-share-buttons" async="async"></script>
    
  </head>
  <body data-controller="<%= params[:controller] %>" data-action="<%= params[:action] %>">
    <nav class="nav navbar navbar-expand-md navbar-dark bg-primary" role="navigation">
      <%= link_to "Six Minute Story", root_url, class: "navbar-brand h1" %>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav align-content-start">
          <%= link_to site_url(anchor: "section3"), class: "nav-item nav-link btn" do %>
            <i class="icon-pencil"></i>
            <span>Write</span>
          <% end %>
        
          <%= link_to subset_stories_path(days: params[:days], months: params[:months] || 120, subset: "featured"), class: "nav-item nav-link btn" do %>
            <i class="icon-book"></i>
            <span>Read</span>
          <% end %>
        </div>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <%= render partial: 'layouts/login' %>
    </nav>
    <div class="container-fluid">
      <section class="section">
        <% if content_for?(:sideyard) %>
          <div class="row">
            <div class="col-md-9 mt-4 px-4 pl-5">
              <%= render partial: "layouts/flashes" %>
              <%= yield %>
            </div>
            <div class="col-md-3 border-left d-flex flex-column flex-fill flex-grow bg-light shadow-sm pt-4 px-3 pr-4" style="min-height: 100vh;">
              <%= yield :sideyard %>
            </div>
          </div>
        <% else %>
          <div class="row">
            <div class="w-100 mt-4 p-0">
              <%= render partial: "layouts/flashes" %>
              <%= yield %>
            </div>
          </div>
        <% end %>
      </section>
    </div>
    <%= javascript_include_tag 'application', defer: true %>
    <%= render "layouts/footer" %>
    <%= render partial: 'layouts/analytics' if Rails.env.production? %>
  </body>
</html>