!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Six Minute Story"
    = csrf_meta_tags

    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "application", :media => "all"
    / %link(href="images/apple-touch-icon-144x144.png" rel="apple-touch-icon-precomposed" sizes="144x144")
    / %link(href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon-precomposed" sizes="114x114")
    / %link(href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon-precomposed" sizes="72x72")
    / %link(href="images/apple-touch-icon.png" rel="apple-touch-icon-precomposed")
    / %link(href="images/favicon.ico" rel="shortcut icon")
    = favicon_link_tag


  %body{data: {spy: "scroll", target: "#stories_nav", action: action_name, controller: controller_name}}
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          =link_to "Six Minute Story", root_url, class: "brand"
          .container.nav-collapse
            %ul.nav
              %li.dropdown
                = link_to "Read <b class='caret'></b>".html_safe, "#", class: "dropdown-toggle", :"data-toggle" => "dropdown"
                %ul.dropdown-menu
                  %li
                    = link_to "Featured", subset_stories_path(:subset => "featured")
                  %li
                    = link_to "Favorited", subset_stories_path(:subset => "top")
                  %li
                    = link_to "Recent", subset_stories_path(:subset => "recent")
                  %li
                    = link_to "Active", subset_stories_path(:subset => "active")
                  %li
                    = link_to "Popular", subset_stories_path(:subset => "popular")
                  %li
                    = link_to "Random Story", random_stories_url

              %li= link_to "Write", prompts_path
              %li= link_to "FAQ", faq_path
              %li= link_to "Blog", "http://blog.sixminutestory.com"

    - if request.path == "/"
      #wrap.blue_this
        #main.content
          = yield
    - else
      #wrap
        #main.content
          = yield

    %footer#site_footer
      .row
        .span7
          .row
            .span1
              %i.icon-cloud.icon-superlarge.pull-left
            #elevator_pitch.span5
              %strong Six Minute Story is a cure for writer's block.
              We're a growing community writing stories in six minutes or less. Join us as we fill the world with ad-libbed eloquence.
        .span5

    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
