<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Six Minute Story 
	<% if @content_for_pagename.blank? %>
		 	– A Microfiction Experiment
	<% else %>
			<%= yield(:pagename) %> 		
	<% end %>
	</title>
	<!-- Javascripts to include -->
	<%= javascript_include_tag :all, :cache => true %>

  	<%= stylesheet_link_tag 'default', :cache => true %>
	<% if @story.present? %>
		<!-- tweetmeme meta tags -->
	  	<meta name="tweetmeme-title" content="<%= @story.title -%> – Six Minute Story" />  
	
		<meta name="title" content="<%= @story.title -%> – Six Minute Story" />
		<meta name="description" content="<%= truncate(@story.description, 150) -%>" />
	<% else %>
		<!-- tweetmeme meta tags -->
	  	<meta name="tweetmeme-title" content="Six Minute Story – <%= @content_for_pagename %>" />  
	
		<meta name="title" content="Six Minute Story" />
		<meta name="description" content="Six Minute Story is a growing collection of stories written in six minutes. Together, we are filling the world with ad-libbed eloquence." />
	<% end %>
	<link rel="image_src" href="http://sixminutestory.com/images/logo_square.png" />

	<link rel="alternate" href="<%= @rss_url.present? ? @rss_url : 'http://feeds.feedburner.com/sixminutestory/recent' %>" type="application/rss+xml" media="screen" title="RSS" charset="utf-8">
</head>
<body>
	

	<!-- escapes frames -->
	<script type="text/javascript">
	//<![CDATA[
	if (window.top !== window.self) {document.write = "";window.top.location = window.self.location; setTimeout(function(){document.body.innerHTML='';},1);window.self.onload=function(evt){document.body.innerHTML='';};}
	//]]>
</script>	
	

	<div class="login_container">
			<% if current_user %>
				<table class="logged_in">
					<tr>
						<td>
							<span id="login_name">
							<% if current_user.login.present? %> 
								<%= link_to current_user.login, account_path %>
							<% end %>
							</span>
						</td>
							<td >
								<span>

									<%= link_to "Account", account_path %>
								</span>
							</td>
						<td>
							<span>
								<%= link_to "Logout", logout_path, :confirm => "Are you sure you want to logout?" %>
							</span>
						</td>		
						
					</tr>
				</table>
			<% else %>
		
		<% form_for :user_session, @user_session, :url => user_session_path do |f| %>

		<table >
			<tr>
				<td>
						
				  		<%= f.text_field :login, :value => "username", :onFocus => 'clearFieldFirstTime(this);' %>
				</td>
				<td>
					
						
				  		<%= f.password_field :password, :value => "password", :onFocus => 'clearFieldFirstTime(this);' %>
						
				</td>
				
						<td>
									<%= image_submit_tag("login_small.png", :name => "login", :id => "login-button", :disabled => false) %>

						</td>
						<td>
								<%= rpx_popup( :link_text => "Use OpenID/Twitter", :app_name => "six-minute-story", :return_url => user_session_url, :unobtrusive => false ) %>
						</td>
				</tr>
			</table>
				
				
		<% end %>
		<% end %>

		<% if is_admin %>	
				<table class="logged_in">
					<tr>
						<td>
							<span>
								<%= link_to "Admin", admin_url %>
							</span>
						</td>
						<td>

							<span class="small_text">
								<%= link_to "Prompts", prompts_url %>
							</span>
						</td>
					 	<td>
							<span class="small_text">
								<%= link_to "Stories", read_url %>
							</span>
						</td>
						<td>
							<span class="small_text">
								<%= link_to "Users", users_url %>
							</span>
						</td>
					</tr>
				</table>

	
		<% end %>

	</div>	<!-- Close Login Container-->
	

	




<div class="logo float_left">
	
	<span id="logo"><%= link_to (image_tag "logo2.png"), root_path %></span>

	<div id="header_links">
		<% if !current_user %>
		  	<%= link_to "Write", write_path %>
			| <%= link_to "Read", read_path %>
			| <%= link_to "How's it work?", faq_path %>
			| <a href="http://twitter.com/6minutestory">Blog</a>
			
		<% else %>
			<%= link_to "Write", write_path %>
			| <%= link_to "Read", read_path %>
			| <%= link_to "How's it work?", faq_path %>
			| <a href="http://twitter.com/6minutestory">Blog</a>
		<% end %>
	
	</div>  

</div>


	<div class="clear space">
		&nbsp;
	</div>




 		<div class="house_container">
			
			<% unless @content_for_sideyard.blank? %>

					<div class="sideyard_container">


					<%= yield(:sideyard) %> 


			


					</div> 
					<!-- close sideyard_container -->

			<% end %>
			  <!-- close content_for_sideyard conditional -->
	
					<div id="left_container">
						<%= yield  %>
					</div>
			
		</div>
		</div>
	
	<!-- Close layout containers -->	
	
	
	<div class="clear space">
	</div>
	<div id="footer_container">
		<div id="footer">
			<div id="licenses">
			<h3>A bit about Licenses</h3>
			<p>
				Publishing digital art is like going to a rooftop and tearing open a feather pillow. You can't control where the feathers go. You can't gather them all again. Ditto for digital art.
			</p>
			<p>
				We can't control who copies our art, nor how they use it. But we can at least ask those who find the feathers to think of us. To that end Six Minute Story empowers writers to license their work under six <a href="http://creativecommons.org" target="_blank">Creative Commons</a> licenses or to the Public Domain.
			</p> 
		
			</div>
		
			<div id="how_to_contact">
				<h3>If you want to tell us something</h3>
				<p>
				We like to hear from people who enjoy what we create. We also appreciate constructive criticism and suggestions for improvements. If your suggestion is feasible, we'll consider it and attempt to implement it. 
				</p>
				<p>
				You can get in touch with us via <a href="http://twitter.com/6minutestory" target="_blank">twitter</a>, Six Minute Story's <a href="http://www.facebook.com/sixminutestory" target="_blank">Facebook profile</a> or plain old email @ gal<a href="http://mailhide.recaptcha.net/d?k=01NVE5r2FxoXPjX0It0Uxrjg==&amp;c=x9M5O1NrHFEwNqfRggM75oEAY0FEyf3ENUVmk1zK9Hk=" onclick="window.open('http://mailhide.recaptcha.net/d?k=01NVE5r2FxoXPjX0It0Uxrjg==&amp;c=x9M5O1NrHFEwNqfRggM75oEAY0FEyf3ENUVmk1zK9Hk=', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">...</a>@sixminutestory.com.
				</p>
		</div>
			<div class="clear">
			</div>
		</div>
	</div>
	
		<% if flash[:notice] || flash[:error] %>
		<!-- Notice appears, then fades out over a few seconds. -->
		<div id="notice_container">

		<div class="sideyardfg">
			<div id="notice">
				<%= image_tag "close.png", :onClick => visual_effect(:fade,"notice_container",:duration => 0.2) %>
				<br />
				<%= flash[:notice]  -%>
				<br />
				<%= flash[:error] -%>
			</div>
		</div>

			<script type="text/javascript">
				window.onload=function(){
					Effect.Fade('notice_container',{duration:4.0});
				}
			</script>

	<% end %>

		</div> <!-- End Notice div -->
	
	<!-- UserVoice code snippet -->
	<script type="text/javascript">
	  var uservoiceOptions = {
	    key: 'sixminutestory',
	    host: 'sixminutestory.uservoice.com', 
	    forum: '48251',
	    alignment: 'right',
	    background_color:'#b86ae1', 
	    text_color: 'white',
	    hover_color: '#ff7400',
	    lang: 'en',
	    showTab: true
	  };
	  function _loadUserVoice() {
	    var s = document.createElement('script');
	    s.src = ("https:" == document.location.protocol ? "https://" : "http://") + "uservoice.com/javascripts/widgets/tab.js";
	    document.getElementsByTagName('head')[0].appendChild(s);
	  }
	  _loadSuper = window.onload;
	  window.onload = (typeof window.onload != 'function') ? _loadUserVoice : function() { _loadSuper(); _loadUserVoice(); };
	</script>
	
	<!-- End UserVoice -->
	
	
	<!-- Google analytics code snippet -->
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("UA-9195656-3");
	pageTracker._trackPageview();
	} catch(err) {}
	</script>
	
	<!-- end Google analytics code snippet -->
	
	
</body>
</html>