<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Six Minute Story 
	<% if @content_for_pagename.blank? %>
		 	:: A Microfiction Experiment
	<% else %>
			<%= yield(:pagename) %> 		
	<% end %>
	</title>
	<!-- Javascripts to include -->
	<%= javascript_include_tag :all, :cache => true %>

  	<%= stylesheet_link_tag :all, :cache => true %>
	
	<script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php" type="text/javascript"></script>
	
	<meta name="title" content="Six Minute Story" />
	<meta name="description" content="Six Minute Story is a user-driven, flash-fiction experiment. The goal is to fill the world with ad-libbed eloquence." />
	<link rel="image_src" href="http://sixminutestory.com/images/logo_square.png" />
	
	<link rel="alternate" href="<%= @rss_url.present? ? @rss_url : 'http://feeds.feedburner.com/SixMinuteStoryRecentStories' %>" type="application/rss+xml" media="screen" title="RSS" charset="utf-8">
</head>
<body>
	
	<!-- for facebook connect -->
	<%= fb_connect_javascript_tag %>
 	<%= init_fb_connect "XFBML" %>
	
	<!-- escapes frames -->
	<script type="text/javascript">
	//<![CDATA[
	if (window.top !== window.self) {document.write = "";window.top.location = window.self.location; setTimeout(function(){document.body.innerHTML='';},1);window.self.onload=function(evt){document.body.innerHTML='';};}
	//]]>
</script>	
	

	<div class="login_container">
			<% if current_user %>
				<table class="logged_in">
					<tr>
						<td>
							<span id="login_name">
							<% if current_user.login.present? %> 
								<%= link_to current_user.login, account_path %>
							<% end %>
							</span>
						</td>
							<td >
								<span>

									<%= link_to "Account", account_path %>
								</span>
							</td>
						<td>
							<span>
								<%= link_to "Logout", logout_path, :confirm => "Are you sure you want to logout?" %>
							</span>
						</td>		
						
					</tr>
				</table>
			<% else %>
		
		<% form_for :user_session, @user_session, :url => user_session_path do |f| %>

		<table >
			<tr>
				<td>
						
				  		<%= f.text_field :login, :value => "username", :onFocus => 'clearFieldFirstTime(this);' %>
				</td>
				<td>
					
						
				  		<%= f.password_field :password, :value => "password", :onFocus => 'clearFieldFirstTime(this);' %>
						
				</td>
				
						<td>
									<%= image_submit_tag("login_small.png", :name => "login", :id => "login-button", :disabled => false) %>

						</td>
						<td>
								<%= authlogic_facebook_login_button %>
						</td>
				</tr>
			</table>
				
				
		<% end %>
		<% end %>


	</div>	<!-- Close Login Container-->
	

	
<% if is_admin %>	
	<div class="admin_container">
		<table class="logged_in">
			<tr>
				<td>
					<span>
						<%= link_to "Admin", admin_url %>
					</span>
				</td>
				<td>
					
					<span class="small_text">
						<%= link_to "Prompts", prompts_admin_url %>
					</span>
				</td>
			 	<td>
					<span class="small_text">
						<%= link_to "Stories", stories_admin_url %>
					</span>
				</td>
			</tr>
		</table>
			
	</div>

<% end %>



<div class="logo float_left">
	
	<span id="logo"><%= link_to (image_tag "logo2.png"), root_path %></span>

	<div id="header_links">
		<% if !current_user %>
		  	<%= link_to "Sign up", register_path %>
			| <%= link_to "Read", read_path %>
			| <a href="http://blog.sixminutestory.com">Blog</a>
		<% else %>
			<%= link_to "Write", write_path %>
			| <%= link_to "Read", read_path %>
			| <a href="http://blog.sixminutestory.com">Blog</a>
		<% end %>
	
	</div>  

</div>


	<div class="clear space">
		&nbsp;
	</div>

	<div id="left_container">

		<div id="search_container">

			<% form_tag '/search', :method => :get do -%>
			
				<%= text_field_tag 'q', 
					"Type your search. Hit enter.", 
					:tabindex => "20", 
					:onFocus => 'clearFieldFirstTime(this);' %>

			<% end -%>


		</div>

		<div class="sideyard_container">
	
	<% if @content_for_sideyard.blank? %>
	
	<h2>Welcome</h2>
		<div id="elevator_pitch">
			<p>
			<!-- 
			Since current language must be <strong>concise, immediate and eloquent</strong>, I created <em>Six Minute Story</em> &mdash; a user-driven, <a href="http://en.wikipedia.org/wiki/Micro_fiction" target="_blank">micro-fiction</a> application &mdash; to provide an arena to practice <em>the art of the ad-lib</em>, the impromptu.
			-->
					<strong>Six Minute Story</strong> is a crowd-driven, 
					<a href="http://en.wikipedia.org/wiki/Micro_fiction" target="_blank">flash-fiction</a> 
					<strong>experiment</strong>.
			</p>
			<p>
					The goal is to fill <strong>the cities of the earth</strong> with eloquence.
			</p>
			
			<% if is_user %>
			<div class="green button_container">
				<%= link_to "Go Write", write_url %>
			</div>
			<% else %>
			<div class="green button_container">
				<%= link_to "Sign Up", register_url %>
			</div>
			
			<div class="purple button_container">
				<%= link_to "Sign in", login_url %>
			</div>
			<div class="clear space">
			</div>
			<% end %>
		</div>
		
	<h2>Connect</h2>
	<!-- List of things to add:  -->
	<% if is_user %>
	<p>
	<%= link_to "Suggest a Prompt", new_prompt_url %>
	</p>
	<% end %>
	
	
	<!-- Facebook fan link-->
	<div id="facebook_widget">
<script type="text/javascript" src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php/en_US"></script><script type="text/javascript">FB.init("174e4db809eb853141cb0cdc69064c2f");</script><fb:fan profile_id="177100150707" stream="" connections="8" width="250"></fb:fan>
	</div>
	<!-- Close Facebook fan link -->
 	

	
	<% else %>
		
		<%= yield(:sideyard) %> 
		
		<% if is_user %>
		<h2>Contribute</h2>
		<p>
		<%= link_to "Suggest a Prompt", new_prompt_url %>
		</p>
		<% end %>
		<br />
				
	
	<% end %>

 
		</div> 
		<!-- close sideyard_container -->

	</div> 
	<!-- close left layout container -->
  
 	<div class="right_container">
		<div class="house_container">
	
	    	<%= yield  %>
		</div>
	
	</div>
	<!-- Close layout containers -->	
	
	<div class="clear space">
	</div>
	<div id="footer_container">
		<div id="footer">
			<div id="licenses">
			<h3>A bit about Licenses</h3>
			<p>
				Publishing digital art is like going to a rooftop and tearing open a feather pillow. Can you control where the feathers go? Can you gather them all again? So it is with digital art.
			</p>
			<p>
				We can't control who copies our art, nor how they use it. Yet, we can at least ask those who find the feathers to think of us. To that end Six Minute Story empowers writers to license their work under six <a href="http://creativecommons.org" target="_blank">Creative Commons</a> licenses or to the Public Domain.
			</p> 
		
			</div>
		
			<div id="how_to_contact">
				<h3>If you want to tell us something</h3>
				<p>
				I like to hear from people who enjoy what I create. I also appreciate constructive criticism and suggestions for improvements. If your suggestion is feasible, I'll consider it and attempt to implement it. 
				</p>
				<p>
				You can get in touch with me via <a href="http://twitter.com/6minutestory" target="_blank">twitter</a>, Six Minute Story's <a href="http://www.facebook.com/pages/Six-Minute-Story/177100150707" target="_blank">Facebook profile</a> or plain old email @ galen at six minute story dot com.
				</p>
		</div>
			<div class="clear">
			</div>
		</div>
	</div>
	
	<div id="share_container">
	<script type="text/javascript">
	
			var addthis_options = 'email, facebook, delicious, google, reddit, spurl, stumbleupon, tumblr, twitter, digg, more';
			
			tweetmeme_style = 'compact';  
	</script>
	
		<table>
			<tr>
					<td>
						<a 	name="fb_share" class="fb_share" type="button_count" 
							href="http://www.facebook.com/sharer.php">Share</a>
							<script 	src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" 	
										type="text/javascript">
							</script>
					</td>
					<td>
							<!-- AddThis Button BEGIN -->
							<a 	href="http://www.addthis.com/bookmark.php?v=250&pub=xa-4a575e99434e72bb" 
								onmouseover="return addthis_open(this, '', '[URL]', '[TITLE]')" 
								onmouseout="addthis_close()" 
								onclick="return addthis_sendto()">
							<img src="http://s7.addthis.com/static/btn/sm-share-en.gif" 
								width="83" 
								height="16" 
								alt="Bookmark and Share" 
								style="border:0"/>
							</a>
								<script 
								type="text/javascript"
							src="http://s7.addthis.com/js/250/addthis_widget.js?pub=xa-4a575e99434e72bb">
								</script>
							<!-- AddThis Button END -->
					</td>
			
				<td>
					<script 	type="text/javascript"
				 			src="http://tweetmeme.com/i/scripts/button.js">
					</script>
				</td>
			</tr>
		</table>
	</div>
	
		<% if flash[:notice] || flash[:error] %>
		<!-- Notice appears, then fades out over a few seconds. -->
		<div id="notice_container">

		<div class="sideyardfg">
			<div id="notice">
				<%= image_tag "close.png", :onClick => visual_effect(:fade,"notice_container",:duration => 0.2) %>
				<br />
				<%= flash[:notice]  -%>
				<br />
				<%= flash[:error] -%>
			</div>
		</div>

			<script type="text/javascript">
				window.onload=function(){
					Effect.Fade('notice_container',{duration:4.0});
				}
			</script>

	<% end %>

		</div> <!-- End Notice div -->
	
	
	<!-- Google analytics code snippet -->
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("UA-9195656-3");
	pageTracker._trackPageview();
	} catch(err) {}
	</script>
	
	<!-- end Google analytics code snippet -->
	
	
</body>
</html>