<!DOCTYPE html>

<html xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Six Minute Story –
	<% if @content_for_pagename.blank? %>
		 	A Microfiction Experiment
	<% else %>
			<%= yield(:pagename) %> 		
	<% end %>
	</title>
	<!-- Javascripts to include -->
	<%= javascript_include_tag :all, :cache => true %>
	<%= csrf_meta_tag %>
  	<%= stylesheet_link_tag 'default' %>

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<% if @story.present? %>
		<!-- tweetmeme meta tags -->
	  	<meta name="tweetmeme-title" content="<%= @story.title -%> – Six Minute Story" />  
	
		<meta name="title" content="<%= @story.title -%> – Six Minute Story" />
		<meta name="description" content="<%= truncate(@story.description, :length => 150) -%>" />
		
		<% if @prompt %>
			<% if @prompt.refcode.present? %>
				<link rel="image_src" href="<%= @prompt.refcode %>" />
			<% else %>
				<link rel="image_src" href="http://sixminutestory.com/images/logo_square.png" />
			<% end %>
		<% elsif @story.prompt.refcode.present? %>
			<link rel="image_src" href="<%= @story.prompt.refcode %>" />
		<% else %>
			<link rel="image_src" href="http://sixminutestory.com/images/logo_square.png" />
		<% end %>

	<% else %>
		<!-- tweetmeme meta tags -->
	  	<meta name="tweetmeme-title" content="Six Minute Story – <%= @content_for_pagename %>" />  
	
		<meta name="title" content="Six Minute Story" />
		<meta name="description" content="Six Minute Story is a growing collection of stories written in six minutes. Together, we are filling the world with ad-libbed eloquence." />

		<link rel="image_src" href="http://sixminutestory.com/images/logo_square.png" />


	<% end %>

	<link rel="alternate" href="<%= @rss_url.present? ? @rss_url : 'http://feeds.feedburner.com/sixminutestory/recent' %>" type="application/rss+xml" media="screen" title="RSS" charset="utf-8">
</head>
<body>

	<div class="login_container">
			<% if current_user %>
				<table class="logged_in">
					<tr>
						<td>
							<span id="login_name">
							<% if current_user.login.present? %> 
								<%= link_to current_user.login, account_path %>
							<% end %>
							</span>
						</td>
							<td >
								<span>

									<%= link_to "Account", account_path %>
								</span>
							</td>
						<td>
							<span>
								<%= link_to "Inbox", users_comments_url("new") %>
							</span>
						</td>
						<td>
							<span>
								<%= link_to "Logout", logout_path, :confirm => "Are you sure you want to logout?" %>
							</span>
						</td>		
						
					</tr>
				</table>
			<% else %>
		
		<% form_for :user_session, @user_session, :url => user_session_path do |f| %>

		<table >
			<tr>
				<td>
						
				  		<%= f.text_field :login, :value => "username", :onFocus => 'clearFieldFirstTime(this);' %>
				</td>
				<td>
					
						
				  		<%= f.password_field :password, :value => "password", :onFocus => 'clearFieldFirstTime(this);' %>
						
				</td>
				
						<td>
									<%= submit_tag "Login",:name => "login", :id => "login-button", :disabled => false %>

						</td>
						<td>
								<%= rpx_popup(:link_text => "Use OpenID/Twitter", :app_name => "six-minute-story", :return_url => user_session_url, :unobtrusive => false ) %>
						</td>
				</tr>
			</table>
				
				
		<% end %>
		<% end %>

		<% if is_admin %>	
				<table class="logged_in">
					<tr>
						<td>

							<span class="small_text">
								<%= link_to "Prompts", prompts_url %>
							</span>
						</td>
					 	
						<td>
							<span class="small_text">
								<%= link_to "Users", users_url %>
							</span>
						</td>
					</tr>
				</table>

	
		<% end %>

	</div>	<!-- Close Login Container-->
	


<header>

<div class="logo float_left">
	
	<span id="logo"><%= link_to (image_tag "logo2.png"), root_path %></span>

	<nav id="header_links">
		<%= link_to "Write", write_path %>
		| <%= link_to "Read", stories_path %>
		| <%= link_to "FAQ", faq_path %>
		| <a href="http://blog.sixminutestory.com">Blog</a>
		
		<!-- 
		<table><tr>
		<% unless is_user %>
			<td>

			<%= link_to "Write", write_path %><br />
			<%= link_to "Read", stories_path %><br />
			<%= link_to "FAQ", faq_path %><br />
			<a href="http://blog.sixminutestory.com">Blog</a>
			</td>
		<% else %>
			<td>
			<h2>write</h2>
			<%= link_to "Current prompt", write_path %><br />
			<%= link_to "Blank prompt", write_to_prompt_path(25) %><br />
			<%= link_to "Past prompt", prompts_url %>
		</td>
		<td>
			<h2>read</h2>
				<%= link_to "Featured", featured_path %><br />
				<%= link_to "Favorited", top_path %><br />
				<%= link_to "Recent", recent_path %> <br />
				<%= link_to "Active", commented_path %> <br />
				<%= link_to "Popular", popular_path %><br />
				<%= link_to "Random", random_stories_url %>
		</td>
		<td>
			<h2>browse</h2>
				<%= link_to "Adjectives", browse_by_tags_path %><br />
				<%= link_to "Genres", browse_by_genres_path %><br />
				<%= link_to "Emotions", browse_by_emotions_path %>
		<% end %>
		</tr>
		</table>
		
		-->
	</nav>
</div>

	


</header>


	<div class="clear space">
		&nbsp;
	</div>




 		<div class="house_container">
			
			<% if content_for?(:sideyard) %>

					<div class="sideyard_container">


					<%= yield(:sideyard) 
					%> 


			


					</div> 
					<!-- close sideyard_container -->

			<% end %>
			  <!-- close content_for_sideyard conditional -->
	
					<div id="left_container">
						<%= yield  %>
					</div>
			
		</div>
		</div>
	
	<!-- Close layout containers -->	
	
	
	<div class="clear space">
	</div>
	<div id="footer_container">
		<div id="footer">
			<div id="licenses">
			<h3>A bit about Licenses</h3>
			<p>
				Publishing digital art is like going to a rooftop and tearing open a feather pillow. You can't control where the feathers go. You can't gather them all again. Ditto for digital art.
			</p>
			<p>
				We can't control who copies our art, nor how they use it. But we can at least ask those who find the feathers to think of us. To that end Six Minute Story empowers writers to license their work under six <a href="http://creativecommons.org" target="_blank">Creative Commons</a> licenses or to the Public Domain.
			</p> 
		
			</div>
		
			<div id="how_to_contact">
				<h3>If you want to tell us something</h3>
				<p>
				We like to hear from people who enjoy what we create. We also appreciate constructive criticism and suggestions for improvements. If your suggestion is feasible, we'll consider it and attempt to implement it. 
				</p>
				<p>
				You can get in touch with us via <a href="http://twitter.com/6minutestory" title="Six Minute Story's twitter profile" target="_blank">twitter</a>, Six Minute Story's <a href="http://www.facebook.com/sixminutestory" title="Six Minute Story's Facebook page" target="_blank">Facebook page</a> or our <a href="http://sixminutestory.uservoice.com" title="Six Minute Story's feedback forum">feedback forum</a>.
				</p>
		</div>
			<div class="clear">
			</div>
		</div>
	</div>
	
	<aside id="follow_links" class="float_right">
		<p>
			<a href="http://www.twitter.com/6minutestory" title="Follow Six Minute Story on Twitter" alt="Follow Six Minute Story on Twitter"><%= image_tag "twitter.png" %></a>
		</p>
		<p>		
				<a href="http://facebook.com/sixminutestory" title="Follow Six Minute Story on Facebook" alt="Follow Six Minute Story on Facebook"><%= image_tag "facebook.png" %></a>
		</p>
	</aside>
	
		<% if flash[:notice] || flash[:error] %>
		<!-- Notice appears, then fades out over a few seconds. -->
		<div id="notice_container">

		<div class="sideyardfg">
			<div id="notice">
				<%= image_tag "close.png", :onClick => visual_effect(:fade,"notice_container",:duration => 0.2) %>

				<br />
				<%= flash[:notice]  -%>
				<br />
				<%= flash[:error] -%>

			</div>
		</div>

			<script type="text/javascript">
				window.onload=function(){
					Effect.Fade('notice_container',{duration:4.0});
				}
			</script>

	<% end %>
	
	

		</div> <!-- End Notice div -->
	
	<!-- UserVoice code snippet -->
	<script type="text/javascript">
	  var uservoiceOptions = {
	    key: 'sixminutestory',
	    host: 'sixminutestory.uservoice.com', 
	    forum: '48251',
	    alignment: 'right',
	    background_color:'#b86ae1', 
	    text_color: 'white',
	    hover_color: '#8fcfef',
	    lang: 'en',
	    showTab: true
	  };
	  function _loadUserVoice() {
	    var s = document.createElement('script');
	    s.src = ("https:" == document.location.protocol ? "https://" : "http://") + "uservoice.com/javascripts/widgets/tab.js";
	    document.getElementsByTagName('head')[0].appendChild(s);
	  }
	  _loadSuper = window.onload;
	  window.onload = (typeof window.onload != 'function') ? _loadUserVoice : function() { _loadSuper(); _loadUserVoice(); };
	</script>
	
	<!-- End UserVoice -->
	
	
	<!-- Google analytics code snippet -->
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("UA-9195656-3");
	pageTracker._trackPageview();
	} catch(err) {}
	</script>
	
	<!-- end Google analytics code snippet -->
	
	
</body>
</html>