<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Six Minute Story <%= yield(:pagename) %> 		
	</title>

  	<%= stylesheet_link_tag :all, :cache => true %>

</head>
<body>
	<div class="login_container">
	  <div class="loginfg">
			<% if current_user %>
				<table class="logged_in">
					<tr>
						<td>
							<span>
							<%= link_to current_user.login, account_path %>
							</span>
						</td>
							<td >
								<span class="small_text">

									<%= link_to "Account", account_path %>
								</span>
							</td>
						<td>
							<span class="small_text">
								<%= link_to "Logout", logout_path, :confirm => "Are you sure you want to logout?" %>
							</span>
						</td>
					

					</tr>
				</table>
			<% else %>
		
		<% form_for :user_session, @user_session, :url => user_session_path do |f| %>

		<table >
			<tr>
				<td>
						
				  		<%= f.text_field :login, :value => "username", :onFocus => 'clearFieldFirstTime(this);' %>
				</td>
				<td>
					
						
				  		<%= f.password_field :password, :value => "password", :onFocus => 'clearFieldFirstTime(this);' %>
						
				</td>
				
						<td>
									<%= image_submit_tag("login_small.png", :name => "login", :id => "login-button", :disabled => false) %>

						</td>

				</tr>
			</table>
				
				
		<% end %>
		<% end # end login conditional %>
	  </div>


	</div>
	
<% if is_admin %>	
	<div class="admin_container">
	  <div class="loginfg">
		<table class="logged_in">
			<tr>
				<td>
					<span>
						<%= link_to "Admin", admin_url %>
					</span>
				</td>
				<td>
					
					<span class="small_text">
						<%= link_to "Prompts", prompts_admin_url %>
					</span>
				</td>
			 	<td>
					<span class="small_text">
						<%= link_to "Stories", stories_admin_url %>
					</span>
				</td>
			</tr>
		</table>
			
	  </div>
	</div>

<% end # end admin box %>


<div id="search_container" class="float_right">

	<% form_tag '/search' do -%>
	<div class="float_left">    
	  
		<%= text_field_tag 'q', nil, :tabindex => "20" %>
	
	</div>
	<div class="float_right">
	<%= image_submit_tag("search.png", :name => "search", :id => "search-button", :disabled => false) %>
	</div>
	<% end -%>

	
</div>

<div class="logo float_left">
	<span id="logo"><%= link_to (image_tag "logo2.png"), root_path %></span>
	<div id="header_links">
		<% if !current_user %>
		  	<%= link_to "Join", register_path %>
			| <%= link_to "Read", read_path %>
			| <a href="http://twitter.com/6minutestory">Blog</a>
		<% else %>
			<%= link_to "Write", write_path %>
			| <%= link_to "Read", read_path %>
			| <a href="http://twitter.com/6minutestory/">Blog</a>
		<% end %>
	
	</div>  
	
	
</div>


<div class="clear space"></div>

<div id="left_section">

<div class="sideyard_container">
	
	<% if @content_for_sideyard.blank? %>
	
	<h2>Welcome</h2>
		<p>
			Since current language must be <strong>concise, immediate and eloquent</strong>, I created <em>Six Minute Story</em> &mdash; a user-driven, <a href="http://en.wikipedia.org/wiki/Micro_fiction">micro-fiction</a> application &mdash; to provide an arena to practice <em>the art of the ad-lib</em>, the impromptu.
		</p>
		<p>
			Turns out <strong>it's kind of fun</strong>.
		</p>
	
	<h2>Community</h2>
	<!-- List of things to add: donate button, share button, fan on facebook -->
	<% if is_user %>
	<p>
	<%= link_to "Suggest a Prompt", new_prompt_url %>
	</p>
	<% end %>
	<br />
 	
	<h2>Updates</h2>
	
	<!-- twitter widget -->
	<div id="twitter_widget">
	<div id="twtr-search-widget"></div>
	<script src="http://widgets.twimg.com/j/1/widget.js"></script>
	<script>
	new TWTR.Widget({
	  search: '@6minutestory OR \"six minute story\" OR sixminutestory OR from:6minutestory',
	  id: 'twtr-search-widget',
	  loop: true,
	  title: 'Recent tweets about',
	  subject: 'Six Minute Story',
	  width: 230,
	  height: 300,
	  theme: {
	    shell: {
	      background: '#a75ac1',
	      color: '#ffffff'
	    },
	    tweets: {
	      background: '#ffffff',
	      color: '#444444',
	      links: '#1985b5'
	    }
	  }
	}).render().start();
	</script>
	</div>
	<!-- end twitter widget -->
	<% else %>
		
		<%= yield(:sideyard) %> 
		
		<h2>Contribute</h2>
		<!-- List of things to add: donate button, share button, fan on facebook -->
		<% if is_user %>
		<p>
		<%= link_to "Suggest a Prompt", new_prompt_url %>
		</p>
		<% end %>
		<br />
				
	
	<% end # close yield conditional %>

 
	</div> <!-- close sideyard_container -->

</div> <!-- close left layout container -->
  

 	<div class="right_container">
	<div class="house_container">

	    <%= yield  %>

	</div>
	</div><!-- Close layout containers -->

	
	<% if flash[:notice] %>
	<!-- Notice appears, then fades out over a few seconds. -->
	<div id="notice_container">

	<div class="sideyardfg">
		<div id="notice">
			<%= image_tag "close.png", :onClick => visual_effect(:fade,"notice_container",:duration => 0.2) %>
			<br />
			<%= flash[:notice] -%>
			<%= javascript_include_tag :all, :cache => true %>

		</div>
	</div>

		<script type="text/javascript">
			window.onload=function(){
				Effect.Fade('notice_container',{duration:4.0});
			}
		</script>

<% end %>

	</div>
	
	
	<%= javascript_include_tag "prototype", "effects", "application", :cache => true %>
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("UA-9195656-1");
	pageTracker._trackPageview();
	} catch(err) {}</script>
	
	<br />
</body>
</html>